{% ckan_extends %}

{% block page_primary_action %}
{% endblock %}

{% block ontario_theme_search_form %}
  {# Custom block for search form. 
  #}
    
  <div class="row no-padding">
    <div class="page_primary_action">
      <div class="add-organization">
      {% if h.check_access('organization_create') %}
        {% link_for _('Add Organization'), named_route='organization.new', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
      {% endif %}
      </div>
    </div>
    <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
    {% block organizations_search_form %}
      <!-- variables for the Design System search bar in search_module_internal.html -->
      {% set sr_input_text = _("Search") %}
      {% set placeholder = _("Search organizations...") %}
      {% set query = c.q %}
      {% set sr_submit_text = _("Search") %}
      {% snippet 'snippets/search_module_internal.html', sr_input_text=sr_input_text, placeholder=placeholder, query=query, sr_submit_text=sr_submit_text %}
    {% endblock %}
  </div>
{% endblock %}

{% block pre_primary %}
{% endblock %}

{% block primary_content_inner %}
  {% block organizations_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), named_route='organization.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}
