{#

Override CKAN's read.html to add some new facets.

#}

{% ckan_extends %}

{% block groups_search_form %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'name asc'),
    (_('Name Descending'), 'tname desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% if not sort_by_selected %}
    {% set sort_by_selected = 'metadata_modified desc' %}
  {% endif %}
  {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search datasets'), show_empty=request.params, fields=fields %}
{% endblock %}

{% block organization_facets %}
  <div class="filters">
    <div>
      {{ h.snippet('snippets/ontario_theme_keywords_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {{ h.snippet('snippets/ontario_theme_jurisdiction_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {{ h.snippet('snippets/ontario_theme_category_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {# 
        Flag facets to be ignored from standard loop that calls facets.
      #}
      {% set excluded_facets = [
        'organization_jurisdiction',
        'organization_category',
        'keywords_en',
        'keywords_fr'
        ]
      %}

      {% for facet in c.facet_titles %}
        {% if facet not in excluded_facets %}
          {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
        {% endif %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
