{#

Override CKAN's read.html to add some new facets.

#}

{% ckan_extends %}

{% block organization_facets %}
  <div class="filters">
    <div>
      {{ h.snippet('snippets/ontario_theme_keywords_facet.html',
      extras={'id':c.group_dict.id}) }}
      {# 
        Flag facets to be ignored from standard loop that calls facets.
      #}
      {% set excluded_facets = [
        'keywords_en',
        'keywords_fr'
        ]
      %}
    </div>
    <div>

      {% for facet in c.facet_titles %}
        {% if facet not in excluded_facets %}
          {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
        {% endif %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
