{% resource 'ontario_theme/ontario_theme_randomize_home_background.js' %}

<div class="hero" data-module="ontario_theme_randomize_home_background">
  <h2 class="accessibly-hidden">Home</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {% block intro %}
          {% snippet 'home/snippets/ontario_theme_intro.html' %}
        {% endblock %}
      </div>
      <div class="col-md-3">
        {% block stats %}
          {% snippet 'home/snippets/ontario_theme_datasets_stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <hr class="thick">
      <div class="col-md-12">
        {% block featured_content %}
          {% snippet 'home/snippets/ontario_theme_featured_content.html' %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <hr class="thick">
      <div class="col-md-8">
        {% block contact_us %}
          {% snippet 'home/snippets/ontario_theme_contact_us.html' %}
        {% endblock %}
      </div>
      <div class="col-md-4">
        {% block recent_activity %}
          {% snippet 'home/snippets/ontario_theme_recent_activity.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>