{% ckan_extends %}

{% block breadcrumb_content %}
{% endblock breadcrumb_content %}

{% block primary %}
  <article class="module">
    <div class="ontario-column ontario-small-12 module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about, False, True) }}
        {% else %}
          <div class="article-intro">
            <h1>{{ _('About') }}</h1>
            <p class="ontario-lead-statement">
              {{ _("The Ontario government, generates and maintains thousands of datasets. Since 2012, we have shared data with Ontarians via a data catalogue.") }}
            </p>
          </div>
          {% snippet "home/snippets/about_text.html" %}
        {% endif %}
      {% endblock about %}
    </div>
  </article>
{% endblock primary %}
