<div id="landing-page-body" role="main">
  <div class="hero">
    <h1 class="sr-only">{{ _("Home") }}</h1>
    <div class="ontario-row">
      <div class="hero-container">
        <div>
          <div class="col-md-12 welcome">
            {% block intro %}
              {% snippet "home/snippets/ontario_theme_intro.html" %}
            {% endblock intro %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {% snippet "home/snippets/ontario_theme_sub_intro.html" %}
    <div class="ontario-row" id="topics">
      <div>
        <div class="col-md-12">
          <h2>{{ _("Topics") }}</h2>
        </div>
      </div>
      {% snippet "home/snippets/ontario_theme_categories.html" %}
    </div>
    <div class="banner-section">
      <div id="news" class="ontario-row">
        <div class="ontario-small-12 homepage-section">
          <div class="col-md-6 dataset-list">
            <h2>{{ _("Most popular datasets") }}</h2>
            {% snippet "home/snippets/ontario_theme_popular_datasets.html" %}
          </div>
          <div class="col-md-6 dataset-list">
            <h2>{{ _("COVID datasets") }}</h2>
            {% snippet "home/snippets/ontario_theme_covid_datasets.html" %}
          </div>
        </div>
      </div>
    </div>
    <div class="ontario-row" id="resources_and_information">
      {% snippet "home/snippets/ontario_theme_resources_and_information.html" %}
    </div>
    <div class="ontario-small-12 homepage-section">
      <div class="ontario-row">
        <div class="col-md-12">
          {% block contact_us %}
            {% snippet "home/snippets/ontario_theme_contact_us.html" %}
          {% endblock contact_us %}
        </div>
      </div>
    </div>
  </div>
  {% snippet "snippets/back_to_top.html" %}
</div>
