<div id="landing-page-body" role="main">
  <div class="ontario-row">
    <div class="ontario-small-12 ontario-column welcome">
      {% block intro %}
        {% snippet "home/snippets/ontario_theme_intro.html" %}
      {% endblock intro %}
    </div>
  </div>
  <div>
    {% snippet "home/snippets/ontario_theme_sub_intro.html" %}
    <div class="ontario-row" id="topics">
      <div class="ontario-small-12 ontario-columns">
        <h2>{{ _("Topics") }}</h2>
        {% snippet "home/snippets/ontario_theme_categories.html" %}
      </div>
    </div>
    <div class="banner-section">
      <div id="news" class="ontario-row">
        <div class="ontario-small-12">
          <div class="ontario-medium-6 ontario-columns dataset-list">
            <h2>{{ _("Most popular datasets") }}</h2>
            {% snippet "home/snippets/ontario_theme_popular_datasets.html" %}
          </div>
          <div class="ontario-medium-6 ontario-columns dataset-list">
            <h2>
              {{ _("Artificial Intelligence (<abbr>AI</abbr>) assets") }}
            </h2>
            {% snippet "home/snippets/ontario_theme_group_datasets.html", group_id="artificial-intelligence", group_title=_('<abbr title="Artificial Intelligence">AI</abbr> assets') %}
            <h2>{{ _("COVID-19 datasets") }}</h2>
            {% snippet "home/snippets/ontario_theme_group_datasets.html", group_id="covid-19", group_title=_("COVID-19 datasets ") %}
          </div>
        </div>
      </div>
    </div>
    <div class="ontario-row" id="resources_and_information">
      {% snippet "home/snippets/ontario_theme_resources_and_information.html" %}
    </div>
    <div class="ontario-row">
      <div class="ontario-small-12 ontario-column">
        {% block contact_us %}
          {% snippet "home/snippets/ontario_theme_contact_us.html" %}
        {% endblock contact_us %}
      </div>
    </div>
  </div>
  {% snippet "snippets/back_to_top.html" %}
</div>
