<div id="landing-page-body">
<div class="hero">
  <h1 class="sr-only">{{ _("Home") }}</h1>
    <div class="container">
      <div class="hero-container">
        <div class="row">
          <div class="col-md-6 welcome">
            {% block intro %}
              {% snippet 'home/snippets/ontario_theme_intro.html' %}
            {% endblock %}
          </div>
          <div class="col-md-6 stats">
            {% block stats %}
              {% snippet 'home/snippets/ontario_theme_datasets_stats.html' %}
            {% endblock %}            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% block search %}
              {% snippet 'home/snippets/search.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

<div role="main">
  {% snippet 'home/snippets/ontario_theme_sub_intro.html' %}
  <div class="container" id="topics">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ _("Browse by category") }}</h2>
      </div>
    </div>
    {% snippet 'home/snippets/ontario_theme_categories.html' %}
  </div>

<div class="banner-section">
  <div id="news" class="container">
    <div class="row homepage-section">
      <div class="col-md-12">
        <h2>{{ _("What's new") }}</h2>
      </div>
      {% block featured_content %}
        {% snippet 'home/snippets/ontario_theme_featured_content.html' %}
      {% endblock %}
    </div>   
    <div class="row homepage-section">
      <div class="col-md-6 dataset-list">
        <h3>{{ _("Most popular datasets") }}</h3>
        {% snippet 'home/snippets/ontario_theme_popular_datasets.html' %}
      </div>
      <div class="col-md-6 dataset-list">
        <h3>{{ _("Recently updated datasets") }}</h3>
        {% snippet 'home/snippets/ontario_theme_recent_activity.html' %}
      </div>
    </div>
  </div>
</div>

<div class="container" id="resources_and_information" >
  {% snippet 'home/snippets/ontario_theme_resources_and_information.html' %}
</div>

<div class="container homepage-section">
  <div class="row">
    <div class="col-md-12"> 
      {% block contact_us %}
        {% snippet 'home/snippets/ontario_theme_contact_us.html' %}
      {% endblock %}
    </div>
  </div>
</div>  
</div>
</div>