{% set schema_dict = h.scheming_get_dataset_schema('dataset')['dataset_fields'] %}
{% set name = "access_level" %}
{%- asset "ontario_theme_scripts/ontario_theme_access_level_js" -%}
{% set global_counts = h.access_level_global_counts() %}
{% with access_levels = h.scheming_field_by_name(schema_dict, name).choices %}
  {% for levels in access_levels %}
    {% set value = levels.get('value') %}
    {% set normalized = value|string|lower|replace(' ', '_') %}
    {% set raw_count = global_counts.get(normalized, 0) %}
    {% set display_count = h.localised_number(raw_count) %}
    {% set display_name = h.scheming_choices_label(access_levels, value) %}
    {% if checkboxes %}
      <div class="ontario-checkboxes__item">
        <input class="ontario-checkboxes__input"
               id="checkbox-option-{{ value }}"
               name="access_level"
               type="checkbox"
               value="{{ value }}"
               data-display-name="{{ display_name }}"
               autocomplete="off">
        <label class="ontario-label ontario-checkboxes__label"
               for="checkbox-option-{{ value }}">{{ display_name }} ({{ display_count }})</label>
      </div>
    {% else %}
      {% if level_count %}
        {% set href = h.remove_url_param('access_level', replace=value, extras=extras) %}
        {% set alt_results = ungettext('{level_count} dataset with access level', '{level_count} datasets with access level', level_count) %}
        <li>
          {{ alt_results.format(level_count=level_count) }} <a href="{{ href }}">{{ display_name }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endwith %}
