{% set schema_dict = h.scheming_get_dataset_schema('dataset')['dataset_fields'] %}
{% set name = "access_level" %}
{# Reorder access level options based on openness #}
{% set items = h.ontario_theme_reorder_access_levels(h.get_facet_items_dict(name)) %}
{% if count %}
  <div class="access-level ontario-form-group">
    <fieldset class="ontario-fieldset">
      <legend class="ontario-fieldset__legend">{{ _('Access level') }}{{ _(':') }}</legend>
      <div id="access-level-radio-buttons" class="ontario-radios">
        {# Checking selected radio buttons and singular radio buttons by default #}
        {% for item in items|sort(attribute="order") %}
          {% if item.name == request.params[name] or items|length == 1 %}
            {% set checked = "checked" %}
            {% set disabled = "disabled" %}
          {% endif %}
          {{ h.snippet('snippets/translate_facets.html', fields=schema_dict, name=name, item=item) }}
          <div class="ontario-radios__item">
            <input class="ontario-radios__input" id="radio-button-option-{{ item.name }}" name="access_level" type="radio" value="{{ item.name }}" {{ disabled }} {{ checked }}>
            <label class="ontario-label ontario-radios__label"
                   for="radio-button-option-{{ item.name }}">
              {{ item.display_name }} ({{ h.localised_number(item.count) }})
            </label>
          </div>
        {% endfor %}
        {# Displaying the "All levels" radio button when there is more than one radio button option
             All levels is checked by default #}
        {% if items|length > 1 %}
          {% set total_count = items|sum(attribute='count') %}
          {% if "" == request.params[name] %}
            {% set checked = "checked" %}
          {% endif %}
          <div class="ontario-radios__item">
            <input class="ontario-radios__input" id="radio-button-option-all" name="access_level" type="radio" value="" {{ checked }}>
            <label class="ontario-label ontario-radios__label"
                   for="radio-button-option-all">{{ _('All levels') }} ({{ h.localised_number(total_count) }})</label>
          </div>
        {% endif %}
      </div>
    </fieldset>
  </div>
{% endif %}
