<ul class="activity-stream-list">

  {% for activity in activity_stream %}

    <li class="activity-stream-row">

      <span class="activity-stream-timestamp">
        {{ h.render_datetime(activity.timestamp) }}
      </span>

      <span class="activity-stream-description">

        {% set dataset_link = h.link_to(
            activity.data.get('package', {}).get('title', ''),
            h.url_for('dataset.read', id=activity.data.get('package', {}).get('name', ''))
        ) %}

        {% if activity.activity_type == 'new package' %}
            {% trans dataset_link=dataset_link %}{{ dataset_link }} dataset was created{% endtrans %}

        {% elif activity.activity_type == 'changed package' %}
            {% trans dataset_link=dataset_link %}{{ dataset_link }} dataset was updated{% endtrans %}

        {% elif activity.activity_type == 'deleted package' %}
            {{ dataset_link }} was deleted
        {% endif %}

        {% if c.userobj and c.userobj.sysadmin and h.lang() != 'fr' %}
            by {{ h.linked_user(activity.user_id, 0, 20) }}
        {% endif %}

      </span>

    </li>

  {% endfor %}

</ul>
