{% macro actor(activity) %}
  {% if c.userobj %}
    <span class="actor">
      {{ h.ontario_theme_user_link(activity.user_id) }}
    </span>
  {% endif %}
{% endmacro %}

{% macro dataset(activity) %}
  {% set dataset_type = activity.data.package.type or 'dataset' %}
  <span class="dataset">
    {{ h.link_to(activity.data.package.title if activity.data.package else _('unknown'),
      h.url_for(dataset_type ~ '.read', id=activity.object_id)) }}
  </span>
{% endmacro %}

{% macro organization(activity) %}
  {{ h.link_to(activity.data.group.title if activity.data.group else _('unknown'),
               h.url_for('organization.read', id=activity.object_id)) }}
{% endmacro %}

{% macro user(activity) %}
  {% if c.userobj %}
    <span class="actor">
      {{ h.ontario_theme_user_link(activity.object_id) }}
    </span>
  {% endif %}
{% endmacro %}

{% macro group(activity) %}
  <span class="group">
    {{ h.link_to(activity.data.group.title if activity.data.group else _('unknown'),
                 h.url_for('group.read', id=activity.object_id)) }}
  </span>
{% endmacro %}

{% block activity_stream %}
  <ul class="activity">
  {# Show detail links only if the current user can access activity detail data for this object. #}
  {% set can_show_activity_detail = h.check_access('activity_list', {'id': id, 'include_data': True, 'object_type': object_type}) %}
  {% for activity in activity_stream %}
    {%- snippet "snippets/activities/{}.html".format(
      activity.activity_type.replace(' ', '_')
      ), "snippets/activities/fallback.html",
      activity=activity, can_show_activity_detail=can_show_activity_detail, ah={
        'actor': actor,
        'dataset': dataset,
        'organization': organization,
        'user': user,
        'group': group,
      }, id=id
    -%}
  {% endfor %}
  </ul>
{% endblock %}
