{#
  facet_list_heading block changed to add screenreader text to clarify which filters are active and which ones are not.
#}
{% ckan_extends %}

{% set hide_empty = true %}
{% set fields = h.scheming_get_dataset_schema('dataset')['dataset_fields'] %}
{% set title = title or h.get_facet_title(name) %}
{% block facet_list_heading %}
  {% with items = items or h.get_facet_items_dict(name) %}
    <h4 class="ontario-h5">
      <i class="fa fa-filter"></i>
      {{ title }}
      {% set screen_reader_text = "No search filters applied for "+title+". Options are " %}
      {% if items %}
        {% if (items|selectattr("active")|list|length) > 0 %}
          {% set screen_reader_text = "Search filters are applied for "+title+"." %}
        {% endif %}
      {% endif %}
    </h4>
    <span class="sr-only">{{ screen_reader_text }}</span>
  {% endwith %}
{% endblock facet_list_heading %}

{% block facet_list_items %}
  {% with items = items or h.get_facet_items_dict(name) %}
    {% if items %}
      <nav>
        <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">
          {% for item in items %}
            {{ h.snippet('snippets/translate_facets.html', fields=fields, name=name, item=item, scheming_choices=scheming_choices) }}
            {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
            {% set label = label_function(item) if label_function else item.display_name %}
            {% set label_truncated = h.truncate(label, 22) if not label_function else label %}
            {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
            <li class="{{ nav_item_class or 'nav-item' }}
                       {% if item.active %}active{% endif %}">
              {% if item.active %}<span class="sr-only">Filtered on</span>{% endif %}
              <a href="{{ href }}"
                 title="{{ label if label != label_truncated else '' }}">
                <span>{{ label_truncated }} {{ count }}</span>
              </a>
            </li>
        {% endfor %}
      </ul>
    </nav>

    <p class="module-footer">
      {% if h.get_param_int('_%s_limit' % name) %}
        {% if h.has_more_facets(name, c.search_facets) %}
          <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}" role="button" class="facets-show-more ontario-button ontario-button--secondary">{{ _('Show more') }}</a>
        {% endif %}
      {% else %}
        <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}" role="button" class="facets-show-more ontario-button ontario-button--secondary">{{ _('Show less') }}</a>
      {% endif %}
    </p>
    {% else %}
      <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
    {% endif %}
  {% endwith %}
{% endblock facet_list_items %}
