{% set excluded_facets = [
            'keywords_en',
            'keywords_fr'
            ]
%}
{% if single_option_facets %}
    {% for facet in single_option_facets %}
        {% set this_name = facet %}
        {# If an exempted facet has only one option and it is not currently active, add it to the excluded facet list #}
        {% if not (h.get_facet_items_dict(this_name)|length > 1) and not request.args.get(this_name) %}
            {% set excluded_facets = excluded_facets.append(this_name) %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set reordered_facet_titles = h.ontario_theme_order_package_facets(c.facet_titles) %}
{% for facet in reordered_facet_titles %}
    {% if facet == 'organization_jurisdiction' %}
        {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'jurisdiction')) %}
    {% endif %}
    {% if facet == 'organization_category' %}
        {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'category')) %}
    {% endif %}
    {% if facet not in excluded_facets %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, scheming_choices=choices, extras=extras) }}
    {% endif %}
{% endfor %}