{% ckan_extends %}

{% block group_item_header %}
  <header class="module-heading">
    {% set truncate=truncate or 0 %}
    {% set truncate_title = truncate_title or 0 %}
    {% set title = h.get_translated(group, "title") or group.name %}
    {% block group_item_header_image %}
      <a class="module-image" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
      </a>
    {% endblock %}
    {% block group_item_header_title %}
      <h3 class="media-heading"><a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">{{ h.get_translated(group, "title") or group.name }}</a></h3>
    {% endblock %}
    {% block group_item_header_description %}
      {% if h.get_translated(group, "description") %}
        {% if truncate == 0 %}
          <p>{{ h.markdown_extract(h.get_translated(group, "description"))|urlize }}</p>
        {% else %}
          <p>{{ h.markdown_extract(h.get_translated(group, "description"), truncate)|urlize }}</p>
        {% endif %}
      {% endif %}
    {% endblock %}
  </header>
{% endblock %}

