{#
  Customizes the display of license information on
  datasets, adding description if available.
#}
{% ckan_extends %}

{% macro license_string_from_license(license) %}
  <span property="dc:rights">
    {% if license.get('url', False) %}
      <a href="{{ h.get_translated(license, 'url') }}"
         rel="dc:rights">{{ h.get_translated(license, 'title') }}</a>
    {% else %}
      {{ h.get_translated(license, 'title') }}
    {% endif %}
  </span>
{% endmacro %}

{% set license = h.ontario_theme_get_license(pkg_dict.license_id) %}
{# compute a safe title without using ._data which is not supported in 2.11 #}
{% set license_title = (license.title if license and license.title
                        else pkg_dict.license_title) %}
<!-- This block is for the license section in the sidebar on
     the dataset page, not the table on the resource page -->
{% block license_title %}
  <h2 class="ontario-h4">{{ _('Licence') }}</h2>
{% endblock license_title %}

{% block license_content %}
  {% set fallback_title = pkg_dict.license_title %}
  {% if license %}
    <p>
      {% block license_content_inner %}        
        {% set license_url   = h.get_translated(license, 'url')   if license else pkg_dict.license_url %}
        {% set license_title = h.get_translated(license, 'title') if license else fallback_title %}
        {% if license_url %}
          <a href="{{ license_url }}"
            rel="dc:rights">{{ license_title }}</a>
        {% else %}
          <span property="dc:rights">{{ license_title }}</span>
        {% endif %}
        {% if pkg_dict.isopen %}
          <a href="https://opendefinition.org/okd/"
             title="{{ _('This dataset satisfies the Open Definition.') }}">
            <img class="open-data"
                 src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}"
                 alt="[Open Data]" />
          </a>
        {% endif %}
      {% endblock license_content_inner %}
    </p>  
    {% set desc = h.get_translated(license, 'description') if license else None %}
    {% if desc %}
      <p>{{ desc }}</p>
    {% endif %}   
  {% endif %}
{% endblock license_content %}
