{% ckan_extends %}

{% block info %}
	{% if has_context_title %}
		<div class="module module-narrow module-shallow context-info">
			<h2 class="aside-heading">{{ _('Ministry') }}</h2>
	{% else %}
		<div class="no-context-title">
	{% endif %}
    <section>
      {% block inner %}
				{% block image %}
					{# Leave block blank to override image div #}
				{% endblock image %}

      	{% block heading %}
					{% if has_context_title %}
						<h3 class="ontario-module-h3">{{ h.get_translated(organization, "title") or organization.name }}
							{% if organization.state == 'deleted' %}
								[{{ _('Deleted') }}]
							{% endif %}
						</h3>
					{% else %}
						<h1>{{ _('Ministry:') }} {{ h.get_translated(organization, "title") or organization.name }}
							{% if organization.state == 'deleted' %}
								[{{ _('Deleted') }}]
							{% endif %}
						</h1>
					{% endif %}
	  		{% endblock heading %}

				{%- if show_nums -%}
					{% block nums %}
						<div class="ministry nums">
							{% set ministry_dataset_count = ungettext('{number} dataset', '{number} datasets', organization.package_count) %}
							{%- if organization.package_count -%}
								<p>{{ ministry_dataset_count.format(number=h.localised_number(organization.package_count)) }}</p>
							{%- else -%}
								<p>0 {{ _('datasets') }}</p>
							{%- endif -%}
						</div>
					{% endblock nums %}
				{%- endif -%}
	  	{% endblock inner %}

      {% block description %}
				{% if h.get_translated(organization,"description") %}
					<p class="{%- if not has_context_title -%}ontario-lead-statement{%- endif -%}">
						{{ h.markdown_extract(h.get_translated(organization,"description"), 180) }}
						{% link_for _('Read more'), named_route='organization.about', id=organization.name %}
					</p>
				{% else %}
					<p class="empty">{{ _('There is no description for this ministry.') }}</p>
				{% endif %}
			{% endblock description %}

			{% block follow %}
			{% endblock follow %}
		</section>
	</div>
{% endblock info %}


