{#
  Snippet changes include:
    - resources_inner block changed to remove anchor on resource name.
    - adding AI label # TODO: remove from h3 element, it's not the heading
    - adding organization info below heading

#}
{% ckan_extends %}

{% set is_admin = h.check_access('package_update', {'id':package.id }) %}
{% set is_open = (package.access_level == 'open') %}
{% set is_restricted = (package.access_level == 'restricted') %}
{% block heading %}
  <h3 class="ontario-h4">
    {% block heading_private %}
      {{ super() }}
    {% endblock heading_private %}

    {% block heading_title %}
      {% link_for h.truncate(h.get_translated(package, 'title'), truncate_title),named_route=('%s.read' % package.type), id=package.name %}
      {% if package.get("asset_type") == "algorithm" %}
        <div class="label label-info">
          {% trans %}
            Algorithm/AI
          {% endtrans %}
        </div>
      {% endif %}
      {% if package.get("harvester", False) == 'ontario-data-catalogue' %}
        <div class="badge badge-harvest pull-right" data-harvest={{ package['harvester'] }}>
          {% trans %}
            ON External
          {% endtrans %}
        </div>
      {% elif package.get("harvester", False) == 'ontario-geohub' %}
        <div class="badge badge-harvest pull-right" data-harvest={{ package['harvester'] }}>
          {% trans %}
            ON Geohub
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock heading_title %}

    {% block heading_meta %}
      {{ super() }}
    {% endblock heading_meta %}

  </h3>
  {# Get the org to get all extras then get the schema for choices/labels of values #}
  {% set organization = h.get_organization(package['owner_org']) %}
  {%- set schema = h.scheming_get_organization_schema('organization') -%}
  <p class="package-item-category">
    {%- snippet 'scheming/snippets/display_field.html', field=h.scheming_field_by_name(schema.fields, 'category'), data=organization, schema=schema -%}
    {{ _(':') }} {{ h.get_translated(organization, 'title') }}
  </p>
{% endblock heading %}

{% block resources %}
  {% block resources_outer %}
    {% if package.resources and not hide_resources %}
      {% if is_open or is_admin %}
        <div class="resource-formats">
          <p>{{ _('Resource formats') + _(':') }}</p>
          <ul class="dataset-resources list-unstyled">
            {% block resources_inner %}
              {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <span class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</span>
                </li>
              {% endfor %}
            {% endblock resources_inner %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  {% endblock resources_outer %}
{% endblock resources %}

{% block notes %}
  {% if notes and is_open %}
    <div class="dataset-font">
      {{ h.markdown_extract(h.get_translated(package, 'notes')|urlize, extract_length=truncate) }}
    </div>
  {% elif not notes %}
    <p class="empty">{{ _("This dataset has no description") }}</p>
  {% else %}
    <div class="restricted_under_review_packages">
      <p class="packages_not_available">{{ _('Not available to the public') + _(':') }}</p>
      {% if is_restricted %}
        <p class="packages_access_level">{{ _('Access to this dataset is restricted') }}</p>
      {% else %}
        <p class="packages_access_level">{{ _('This dataset is currently under review') }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endblock notes %}
