{% ckan_extends %}

{% set schema_dict = h.scheming_get_dataset_schema('dataset')['dataset_fields'] %}
{% block search_input %}
  {#
    Design System search bar. Arguments:
    - searchbar_title
    - placeholder
    - query
  #}
  <div class="module search">
    <h2 class="ontario-label">
      <label class="theme_p" for="{{ form_id }}-input">{{ searchbar_title }}</label>
    </h2>
    <div class="ontario-search-container">
      <input class="ontario-search-input ontario-input snippet"
             type="text"
             id="{{ form_id }}-input"
             name="q"
             placeholder="{%- block search_placeholder -%}{{ placeholder }}{%- endblock search_placeholder -%}"
             value="{{ query }}"
             autocomplete="off"
             required />
      <input class="ontario-search-reset home"
             id="{{ form_id }}-reset"
             type="reset"
             value=""
             aria-label="Clear field" />
      <button class="ontario-search-submit"
              id="ontario-search-submit"
              type="submit">
        <span class="ontario-show-for-sr">{{ _('Search') }}</span>
        <svg class="ontario-icon search"
             focusable="false"
             sol:category="primary"
             viewBox="0 0 24 24"
             preserveAspectRatio="xMidYMid meet">
          <use xlink:href="#ontario-icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
{% endblock search_input %}

{% block search_title %}
  {% if not error %}
    <div class="search-count">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</div>
  {% else %}
    <div>Error</div>
  {% endif %}
{% endblock search_title %}

<!-- block for package searches -->
{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
      {% if query %}
        {#
        Groups/Organizations don't have facets set or the
        remove_field() function in their index() action. 
        Only show when facets and a query are available to avoid
        missing attribute error.
        #}
      {% endif %}
      {% if facets %}
        {% for field in facets.fields %}
          <span class="facet-row">
            {% set search_facets_items = facets.search.get(field)['items'] %}
            <span class="facet">
              {% if (not query and not loop.index0==0) or query %}
                <span class="sr-only">and</span>
              {% endif %}
              {{ facets.titles.get(field) + _(':') }}
            </span>
            {% for item in h.get_facet_items_dict(field) %}
              {% set item_id = facets.search.get(field)['title'] %}
              {% if item_id == "organization_category" %}
                {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'category')) %}
              {% endif %}
              {% if item_id == "organization_jurisdiction" %}
                {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'jurisdiction')) %}
              {% endif %}
              {{ h.snippet('snippets/translate_facets.html', fields=schema_dict, name=item_id, item=item, scheming_choices=choices) }}
              {% if item.active %}
                <span class="filtered pill">
                  <span class="pill-contents">
                    {{ item.display_name }}
                    <a href="{{ facets.remove_field(field, item.name) }}"
                       class="remove"
                       title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
                  </span>
                </span>
              {% endif %}
            {% endfor %}
          </span>
        {% endfor %}
      {% endif %}
    </p>
    <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock search_facets %}

{% block search_sortby %}
    {% if sorting %}
      <div class="form-select form-group control-order-by search-page-select">
        <label class="ontario-label" for="field-order-by">{{ _('Sort by') + _(':') }}</label>
        <select id="field-order-by" name="sort" class="form-control ontario-input ontario-dropdown">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
        {% endblock search_sortby_button %}
      </div>
    {% endif %}
  {% endblock search_sortby %}