{% ckan_extends %}

{% set schema_dict = h.scheming_get_dataset_schema('dataset')['dataset_fields'] %}
{% set name = "access_level" %}
{% set request_params_items2 = dict(request.params) %}
{% if request_params_items2['access_level'] %}
  {% do request_params_items2.pop('access_level') %}
  {{ request_params_items2 }}
{% endif %}
{% set current_group = '' if not c.group_dict else c.group_dict['name'] %}
{% set facet_list = h.ontario_theme_get_access_levels(q=c.q, request_params_items=request_params_items2,current_group=current_group,item_count=c.page.item_count, facet_field=name) %}
{% block search_input %}
  {#
    Design System search bar. Arguments:
    - searchbar_title
    - query
  #}
  <div class="module search">
    <h2 class="ontario-label">
      <label class="theme_p" for="{{ form_id }}-input">{{ searchbar_title }}</label>
    </h2>
    <div class="ontario-search-container">
      <input class="ontario-search-input ontario-input snippet"
             type="text"
             id="{{ form_id }}-input"
             name="q"
             value="{{ query }}"
             autocomplete="off"
             required />
      <input class="ontario-search-reset home"
             id="{{ form_id }}-reset"
             type="reset"
             value=""
             aria-label="Clear field" />
      <button class="ontario-search-submit"
              id="ontario-search-submit"
              type="submit">
        <span class="ontario-show-for-sr">{{ _('Search') }}</span>
        <svg class="ontario-icon search"
             focusable="false"
             sol:category="primary"
             viewBox="0 0 24 24"
             preserveAspectRatio="xMidYMid meet">
          <use xlink:href="#ontario-icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
{% endblock search_input %}

{% block search_title %}
  {% if facets %}
    {% for item in facet_list[name]['items'] %}
      {% if item.display_name == 'open' %}
        {% do item.update({'order': '1'}) %}
      {% endif %}
      {% if item.display_name == 'under_review' %}
        {% do item.update({'order': '2'}) %}
      {% endif %}
      {% if item.display_name == 'restricted' %}
        {% do item.update({'order': '3'}) %}
      {% endif %}
    {% endfor %}
    <div class="ontario-form-group">
      <fieldset class="access-level ontario-fieldset">
        <legend class="ontario-fieldset__legend">{{ _('Access Level') }}{{ _(':') }}</legend>
        {% with items = facet_list[name]['items']|sort(attribute="order") %}
          <div id="access-level-radio-buttons" class="ontario-radios">
            {% for item in items %}
              {% if item.name == request.params[name] or items|length == 1 %}
                {% set checked = "checked" %}
              {% endif %}
              {{ h.snippet('snippets/translate_facets.html', fields=schema_dict, name=name, item=item) }}
              <div class="ontario-radios__item">
                <input class="ontario-radios__input" id="radio-button-option-{{ item.name }}" name="access_level" type="radio" value="{{ item.name }}" {{ checked }}>
                <label class="ontario-label ontario-radios__label"
                       for="radio-button-option-{{ item.name }}">{{ item.display_name }} ({{ item.count }})</label>
              </div>
            {% endfor %}
            {% if "" == request.params[name] %}
              {% set checked = "checked" %}
            {% endif %}
            {% if items|length > 1 %}
              <div class="ontario-radios__item">
                <input class="ontario-radios__input" id="radio-button-option-all" name="access_level" type="radio" value="" {{ checked }}>
                <label class="ontario-label ontario-radios__label"
                       for="radio-button-option-all">{{ _('All levels') }} ()</label>
              </div>
            {% endif %}
          </div>
        {% endwith %}
      </fieldset>
    </div>
  {% endif %}
  {% if not error %}
    <div role="status" class="search-count">
      {% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}
    </div>
  {% else %}
    <div>Error</div>
  {% endif %}
{% endblock search_title %}

<!-- block for package searches -->
{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
      {% if query %}
        {#
        Groups/Organizations don't have facets set or the
        remove_field() function in their index() action. 
        Only show when facets and a query are available to avoid
        missing attribute error.
        #}
      {% endif %}
      {% if facets %}
        {% for field in facets.fields %}
          <span class="facet-row">
            {% set search_facets_items = facets.search.get(field)['items'] %}
            <span class="facet">
              {% if (not query and not loop.index0==0) or query %}<span class="sr-only">and</span>{% endif %}
              {{ facets.titles.get(field) + _(':') }}
            </span>
            {% for item in h.get_facet_items_dict(field) %}
              {% set item_id = facets.search.get(field)['title'] %}
              {% if item_id == "organization_category" %}
                {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'category')) %}
              {% endif %}
              {% if item_id == "organization_jurisdiction" %}
                {% set choices = h.scheming_field_choices(h.scheming_field_by_name(h.scheming_get_organization_schema('organization')['fields'], 'jurisdiction')) %}
              {% endif %}
              {{ h.snippet('snippets/translate_facets.html', fields=schema_dict, name=item_id, item=item, scheming_choices=choices) }}
              {% if item.active %}
                <span class="filtered pill">
                  <span class="pill-contents">
                    {{ item.display_name }}
                    <a href="{{ facets.remove_field(field, item.name) }}"
                       class="remove"
                       title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
                  </span>
                </span>
              {% endif %}
            {% endfor %}
          </span>
        {% endfor %}
      {% endif %}
    </p>
    <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock search_facets %}

{% block search_sortby %}
  <div class="form-select form-group control-order-by search-page-select">
    <label class="ontario-label" for="field-order-by">{{ _('Sort by') + _(':') }}</label>
    <select id="field-order-by"
            name="sort"
            class="form-control ontario-input ontario-dropdown">
      {% for label, value in sorting %}
        {% if label and value %}
          <option value="{{ value }}"
                  {% if sorting_selected == value %}selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endblock search_sortby %}
