{% ckan_extends %}

{% block search_input %}
  {# 
    Design System search bar. Arguments:
    - sr_input_text
    - placeholder
    - query
    - sr_submit_text
  #}
  <div class="module search">
    <h2 class="ontario-h2">{{ searchbar_title }}</h2>
    <form class="module-content search-form" method="get">
      <div class="ontario-search-container">
        <label class="ontario-label ontario-show-for-sr" for="ontario-search-input-field">{{ sr_input_text }}</label>
        <input class="ontario-search-input ontario-input" type="text" id="ontario-search-input-field" name="q" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" value="{{ query }}" autocomplete="off">
        {# <input class="ontario-search-reset home" id="ontario-search-reset" type="reset" value="" aria-label="Clear field" /> #}
        <button class="ontario-search-submit" id="ontario-search-submit" type="submit">
          <span class="ontario-show-for-sr">{{ sr_submit_text }}</span>
          <svg class="ontario-icon search" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
              <use xlink:href="#ontario-icon-search"></use>
          </svg>
      </button>
    </div>
  </div>
{% endblock %}

{% block search_title %}
    {% if not error %}
      <div class="search-count">
        {% if type == 'dataset' %}
          {% set text_query = ungettext('{number} dataset found for "{query}"', '{number} datasets found for "{query}"', count) %}
          {% set text_query_none = _('No datasets found for "{query}"') %}
          {% set text_no_query = ungettext('{number} dataset found', '{number} datasets found', count) %}
          {% set text_no_query_none = _('No datasets found') %}

        {% elif type == 'group' %}
          {% set text_query = ungettext('{number} group found for "{query}"', '{number} groups found for "{query}"', count) %}
          {% set text_query_none = _('No groups found for "{query}"') %}
          {% set text_no_query = ungettext('{number} group found', '{number} groups found', count) %}
          {% set text_no_query_none = _('No groups found') %}

        {% elif type == 'ministry' %}
          {% set text_query = ungettext('{number} ministry found for "{query}"', '{number} ministries found for "{query}"', count) %}
          {% set text_query_none = _('No ministries found for "{query}"') %}
          {% set text_no_query = ungettext('{number} ministry found', '{number} ministries found', count) %}
          {% set text_no_query_none = _('No ministries found') %}

        {% else %}
          {% set text_query_singular = '{number} ' + type + ' found for "{query}"' %}
          {% set text_query_plural = '{number} ' + type + 's found for "{query}"' %}
          {% set text_query_none_plural = 'No ' + type + 's found for "{query}"' %}
          {% set text_no_query_singular = '{number} ' + type + ' found' %}        
          {% set text_no_query_plural = '{number} ' + type + 's found' %}
          {% set text_no_query_none_plural = 'No ' + type + 's found' %}      

          {% set text_query = ungettext(text_query_singular, text_query_plural, count) %}
          {% set text_query_none = _(text_query_none_plural) %}
          {% set text_no_query = ungettext(text_no_query_singular, text_no_query_plural, count) %}
          {% set text_no_query_none = _(text_no_query_none_plural) %}
        {%- endif -%}

        {% if query %}
          {%- if count -%}
            {{ text_query.format(number=h.localised_number(count), query=query, type=type) }}
          {%- else -%}
            {{ text_query_none.format(query=query, type=type) }}
          {%- endif -%}
        {%- else -%}
          {%- if count -%}
            {{ text_no_query.format(number=h.localised_number(count), type=type) }}
          {%- else -%}
            {{ text_no_query_none.format(type=type) }}
          {%- endif -%}
        {%- endif -%}
      </div>
    {% else %}
      <div>Error</div>
    {% endif %}
{% endblock %}

<!-- block for package searches -->
{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
    {% if query %}
      {#
        Groups/Organizations don't have facets set or the
        remove_field() function in their index() action. 
        Only show when facets and a query are available to avoid
        missing attribute error.
      #}
      <span>
        <span class="facet">with the keyword(s):</span>
        <span class="filtered pill">
          {{ query }}
          <a href="{{ facets.remove_field('q', query) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
        </span>
      </span>
    {% endif %}  
    {% if facets %}
        {% for field in facets.fields %}
          <span>
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span class="facet">
            {% if (not query and not loop.index0==0) or query %}
              <span class="sr-only"> and </span>
            {% endif %}
            {{ facets.titles.get(field, "Has Resources (data)") }}:
          </span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) if value != '[1 TO *]' else 'True' }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
          </span>
        {% endfor %}
    {% endif %}
    </p>
    <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock %}