{#

    Custom snippet to translate the filters displayed on search page, according to set language.
    
#}
{% set scheming_choices = scheming_choices or h.scheming_field_by_name(fields, name).choices or None %}
{% do item.update({'display_name': h.scheming_choices_label(scheming_choices, item.display_name)}) if scheming_choices %}
{% do item.update({'display_name': h.get_translated( h.ontario_theme_get_license(item.name), "title" )}) if name == "license_id" %}
{% do item.update({'display_name': h.get_translated( h.get_organization(item.name), "title") or item.display_name}) if name == "organization" %}
{% do item.update({'display_name': h.get_translated( h.ontario_theme_get_group(item.name), "title") or item.display_name}) if name == "groups" %}
