.lang-container {
  float: right !important;
}

body{
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #4d4d4d;
    background-color: #fff;
    cursor: auto;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* Masthead */

.logo {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.masthead {
    padding: 20px 0px;
    background: #006B3F;
}

.account-masthead {
    min-height: 69px;
    color: #ffffff;
    background: #333333;
}

.account-masthead .container {
    margin-top: 1.2rem;
}

.account-masthead .account ul li a {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}


/* Home Page */

.homepage .module-search .module-content {
background: #006B3F;
}

.homepage .module-search .tags {
    background: #006B3F;
}

.homepage .module-search .search-giant input {
    border-color: inherit;
}

/* Navigation */

.nav {
    margin-left: 0;
    margin: 20px;
    list-style: none;
}

.nav-pills li a {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-tabs, .nav-pills {
    float:right;
}



.nav li a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #21BB6F;
}

.account-masthead .account {
    float: right;
    margin: 20px;
}

.account-masthead .btn-navbar, .account-masthead .btn-navbar:hover, .account-masthead .btn-navbar:focus, .account-masthead .btn-navbar:active, .account-masthead .btn-navbar.active, .account-masthead .btn-navbar.disabled, .account-masthead .btn-navbar[disabled] {
    background-color: #003647;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    margin-top: 15px;
}

.account-masthead .btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
    background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
}


/* Search */

.above_search {
   text-align:center;
}

.above_search span {
    font-size: 28px;
}

.above_search h2{
  font-size: 38px;
}

.search-form .search-input.search-giant button {
    height: 100%;
    margin: 0;
    right: 0;
    top: 0;
    padding: 1px 6px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.search-form .search-input.search-giant button:hover {
  background: #cfcfcf;
}

.search-form .search-input.search-giant button:hover i{
  color:#ffffff;
}

/* Footer */

.site-footer {
  background-image: url('/images/footer.png');
  background-position: center bottom;
  background-repeat:no-repeat;
  background: #006B3F;
}

.footer-about {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.attribution .ckan-footer-logo {
    display: none;
 }

ul.topics {
	margin: 0 0 15px 0;
	padding: 0px;
	text-align: center
}
ul.topics li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top
}
ul.topics li a {
	display: inline-block;
	margin: 0px 15px 20px 15px;
	outline: 0
}
ul.topics li a i {
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	clear: both;
	padding-top: 16px;
	font-size: 65px;
	color: #8792a4
}
ul.topics li a i:hover {
	color: #606c7f
}
ul.topics li a span {
	display: block;
	width: 100px;
	font-size: 15px;
	word-wrap: break-word
}
ul.topics li a:hover, ul.topics li a:hover span {
	text-decoration: none !important
}
ul.topics li a:hover i, ul.topics li a:focus i {
	background-color: rgba(33, 187, 111, 0.54) !important
	border-radius: 50%;
	-webkit-transition: background-color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out;
	-ms-transition: background-color .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out;
	transition: background-color .4s ease-in-out
}
.yamm .dropdown-menu ul {
	padding-top: 1em
}
.yamm ul.dropdown-menu.topics {
	padding-bottom: 1.5em
}
.yamm .dropdown-menu li {
	display: inline-block
}
.yamm ul.topics li a {
	margin-top: 1em;
	margin-bottom: 0;
	padding: 0 5px
}
.yamm ul.topics li a i {
	line-height: 10px;
	padding-top: 20px;
	font-size: 50px;
	height: 75px;
	width: 75px
}
.yamm ul.topics li a span {
	width: 95px;
	text-transform: none;
	font-size: 14px;
	white-space: normal
}
.yamm ul.topics li a:hover i, .yamm ul.topics li a:focus i {
	background-color: inherit !important;
	border-radius: 0% !important;
	border: none !important
}

@media (min-width: 768px)
.hero {
    background: url("http://open-gov.eastus.cloudapp.azure.com/base/images/cc-Alternative_Energies-copy.jpg");
}


