{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'short_description') and
      pkg.short_description %}
    <div class="notes embedded-content">
      <p class="lead">{{ h.scheming_language_text(pkg['short_description']) }}</p>
    </div>
  {% endif %}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'notes_translated') and
    pkg.notes %}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.scheming_language_text(pkg['notes_translated'])) }}
    </div>
  {% endif %}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'access_level') and
      pkg.access_level %}
      <hr />
      <strong>{{ _("Status") }}: </strong>
      <span class="label {{ pkg['access_level'] }}">
	  {{ h.scheming_choices_label(h.scheming_field_choices(h.scheming_field_by_name(schema.dataset_fields, 'access_level')), pkg['access_level']) }}
      </span>
      {% if pkg['access_level'] == 'open' %}
        {% trans %}
          <p>
            Data in this record is open and is published in the language in which it’s collected. Please
            <a href="https://www.ontario.ca/feedback/contact-us?id=33142&nid=53950">
              contact us
            </a>
            to obtain assistance in either official language.  
          </p>      
        {% endtrans %}
        <p>
          {% trans %}Data in this record was opened{% endtrans %} {{ h.scheming_language_text(pkg['opened_date']) }}.
        </p>      
      {% elif pkg['access_level'] == 'restricted' %}     
        {% trans %}
          <p>
            Data in this record cannot be released because of legal, privacy, security, confidentiality or commercially-sensitive reasons, as outlined by the <a href="https://www.ontario.ca/page/ontarios-open-data-directive">Open Data Directive</a>. 
          </p>
        {% endtrans %}          
          <p>
            <strong>{{ h.scheming_language_text(h.scheming_field_by_name(schema.dataset_fields,"exemption").label) }}:</strong> 
            {{ h.scheming_choices_label(h.scheming_field_choices(h.scheming_field_by_name(schema.dataset_fields,"exemption")),pkg['exemption']) }}
          </p>
          <p>
            <strong>{{ h.scheming_language_text(h.scheming_field_by_name(schema.dataset_fields,"exemption_rationale").label) }}:</strong> 
            {{ h.scheming_language_text(pkg['exemption_rationale']) }}
          </p>
      {% elif pkg['access_level'] == 'under_review' %}     
        {% trans %}
          <p>
            We are reviewing the data in this record to determine if it can be made open, in support of the
            <a href="http://www.ontario.ca/page/ontarios-open-data-directive">Open Data Directive</a>.
          </p>
        {% endtrans %}
      {% elif pkg['access_level'] == 'to_be_opened' %}     
        {% trans %}
          <p>
            Data in this record has been reviewed and will be made open in the future, in support of the
            <a href="http://www.ontario.ca/page/ontarios-open-data-directive">Open Data Directive</a>.
          </p>
        {% endtrans %}
      {% endif %}
    <hr />
  {% endif %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}
