{#

Renders a list of the site's most recent activity.

#}
  {% set recently_updated_datasets = h.ontario_theme_get_recently_updated_datasets() %}
  {% for dataset in recently_updated_datasets|sort(reverse=true, attribute="current_as_of") %}

  <div class="row">
    <div class="col-md-2" style="min-height: 4rem">
      <span class="label label-default">{{ h.render_datetime(dataset.current_as_of) }}</span>
    </div>
    <div class="col-md-10">
      <a href="{% url_for controller='package', action='read', id=dataset.name %}">{{ h.get_translated(dataset, "title") }}</a>
    </div>
  </div>
  {% endfor %}
