{#

Renders a custom search component for the home page.
Uncomment type="reset" after header is implemented

#}
{% set placeholder = _("Search Ontario's Data") %}

<div class="module search">
  <form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
    <div class="ontario-search-container">
      <label class="ontario-label ontario-show-for-sr" for="ontario-search-input-field">{{ _("Search") }}</label>
      <input class="ontario-search-input ontario-input" type="text" id="ontario-search-input-field" name="search" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" value="" autocomplete="off">
      {# <input class="ontario-search-reset home" id="ontario-search-reset" type="reset" value="" aria-label="Clear field" /> #}
      <button class="ontario-search-submit" id="ontario-search-submit" type="submit" onclick="doSearch()">
        <span class="ontario-show-for-sr">{{ _("Search") }}</span>
        <svg class="ontario-icon search" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
            <use xlink:href="#ontario-icon-search"></use>
        </svg>
    </button>
  </div>
  </form>
</div>
