{#
  Custom language notification in the cases that users are viewing the site in one language and a resource in another
#}
{% set current_lang = request.environ.CKAN_LANG %}
{% if (res.language == "english" and current_lang == "fr") or (res.language == "french" and current_lang == "en") %}
  <div class="new-alert alert-warning alert-large">
    {% if pkg.resources|selectattr("language", "equalto", ("english" if res.language == "french" else "french"))|selectattr("type", "equalto", "data")|list|length + pkg.resources|selectattr("language", "equalto", "english_and_french")|selectattr("type", "equalto", "data")|list|length > 0 %}
      {% trans url=h.url_for('dataset.read', id=c.package['name']) %}
        You're viewing a data file in French.
        This dataset has files available in English.
        <a href="{{ url }}#dataset-resources">Click here</a>
        to go back and select a file in English.
      {% endtrans %}
    {% else %}
      {% trans %}
        You're viewing a data file in French.
        This dataset <strong>does not</strong> have files available in English.
        Data on the data catalogue is published in the language in which it’s collected.
        <a href="https://www.ontario.ca/page/ontarios-open-data-directive">[Learn more]</a>
      {% endtrans %}
    {% endif %}
  </div>
{% endif %}
