{#
  Complete override of template to change "Data and resources" to just data...
#}

<section id="dataset-resources" class="resources">
  <h3>{{ _('Data') }}</h3>
  {% block resource_list %}
    {% snippet "package/snippets/ontario_theme_access_level.html",
      pkg=pkg, dataset_type=dataset_type, schema=schema %}

    {% if resources %}
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% do resource.update({"data_range": resource.data_range_start|default("N/A") + " - " + resource.data_range_end|default("N/A")}) %}            
          {% endfor %}
          {% for group in resources|selectattr("type","equalto","data")|groupby("data_range")|sort(attribute="grouper", reverse=True) %}

            {% if group.list[0].data_range != "N/A - N/A" %}
              <h4> {{ _("Covers") }} {{group.list[0].data_range}}</h4>
            {% else %}
              <h4 class="empty">{{ _("No date range") }}</h4>
            {% endif %}
            <ul class="{% block resource_list_class %}resource-list{% endblock %}">
            {% for r in group.list|selectattr("format", "equalto", "CSV") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %} 
            {% for r in group.list|selectattr("format", "equalto", "JSON") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %}
            {% for r in group.list|selectattr("format", "equalto", "KML") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %}
            {% for r in group.list|rejectattr("format", "equalto", "CSV")|rejectattr("format", "equalto", "JSON")|rejectattr("format", "equalto", "KML")|rejectattr("format", "equalto", "XLS")|rejectattr("format", "equalto", "XLSX") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %}
            {% for r in group.list|selectattr("format", "equalto", "XLSX") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %}
            {% for r in group.list|selectattr("format", "equalto", "XLS") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
            {% endfor %}
            </ul>
          {% endfor %}
        {% endblock %}
      <h3>{{ _("Supporting Files") }}</h3>
      {% if resources | rejectattr("type","equalto","data") | list | length > 0 %}
        <ul class="resource-list">
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
            {% for resource in resources|rejectattr("type","equalto","data") %}
              {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, schema=schema %}
            {% endfor %}
        </ul>
      {% else %}
        <p class="empty">{{ _('This dataset has no supporting files') }}</p>
      {% endif %}
    {% else %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
        {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
        {% endtrans %}
      {% else %}
        {% if not pkg['access_level'] %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endblock %}
</section>
