{#
  Complete override of template to change "Data and resources" to just data...
#}
{% set current_lang = request.environ.CKAN_LANG %}

<section id="dataset-resources" class="resources">
  <h2>{{ _(h.dataset_display_name(pkg)) }}</h2>
  <p class="dataset-font">
    {{ _("Learn more about ") }} <a href="{{ h.url_for('home.about', _anchor='training-materials') }}">{{ _("accessing data using different file types.") }}</a>
  </p>
  {% block resource_list %}
    {% snippet "package/snippets/ontario_theme_access_level.html",
    pkg=pkg, dataset_type=dataset_type, schema=schema, resources=resources %}
    {# can_edit is True only for users with write access
      (i.e. sysadmins and org admins)
    #}
    {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
    {# If package access level is not open (i.e. restricted or under review),
      only allow users with write access (i.e. sysadmins and org admins) to
      view the resource list.
    #}
    {% if pkg['access_level'] == 'open' or can_edit %}
      {% if resources %}
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% do resource.update({"data_range": h.ontario_theme_get_date_range(resource.data_range_start|default("N/A"),resource.data_range_end|default("N/A"))}) %}
          {% endfor %}
          {% for group in resources|selectattr("type","equalto","data")|groupby("data_range")|sort(attribute="grouper", reverse=True) %}
            {# No date range output when start and end date is null and when there is an end date, but start date is null #}
            {% if not group.list[0].data_range_start and not group.list[0].data_range_end %}
              <p class="date-range">{{ _("No date range") }} </p>
            {% elif not group.list[0].data_range_start or not group.list[0].data_range_end %}
              <p class="date-range">{{ _("Date range")+_(":") }}
              {# Condition when date range has a start date but no end date. Ex output: May 30, 2023 - no end date (EN), 30 mai 2023 - aucune date de fin (FR) #}
              {% if group.list[0].data_range_start and not group.list[0].data_range_end %}
                {{ h.render_datetime(group.list[0].data_range_start) }} - {{ _('no end date') }}
              {% endif %}
              {# Condition when date range has an end date but no start date. Ex output: No start date - May 30, 2023 (EN), Aucune date de début - 30 mai 2023 (FR) #}
              {% if not group.list[0].data_range_start and group.list[0].data_range_end %}
                {{ _('No start date') }} - {{ h.render_datetime(group.list[0].data_range_end) }}
              {% endif %}
              </p>
            {# Single day snapshot of date. Ex output: May 30, 2023 (EN), 30 mai 2023 (FR)#}
            {% elif group.list[0].data_range_start == group.list[0].data_range_end %}
              <p class="date-range">{{ _("Date")+_(":") }} {{ h.render_datetime(group.list[0].data_range_start) }}</p>
            {% else %}
              <p class="date-range">{{ _("Date range")+_(":") }}
                {# Condition when the date range is within a month. Ex output: April 1 - 31, 2023 (EN), 1 - 31 avril 2023 (FR) #}
                {% if group.list[0].data_range_start[0:7] == group.list[0].data_range_end[0:7] %}
                  {% set month_day = -6 if current_lang == 'en' else 1 %}
                  {% set en_day = -8 if current_lang == 'en' else 0 %}
                  {{ h.render_datetime(group.list[0].data_range_start)[:month_day] }} - {{ h.render_datetime(group.list[0].data_range_end)[en_day:] }}</p>
                {# Condition when the date range is within a year. Ex output: January 1 - December 31, 2022 (EN), 1 janvier - 31 decembre 2022 (FR) #}
                {% elif group.list[0].data_range_start[0:4] == group.list[0].data_range_end[0:4] %}
                  {% set month_day = 6 if current_lang == 'en' else 5 %}
                  {{ h.render_datetime(group.list[0].data_range_start)[:-month_day] }} - {{ h.render_datetime(group.list[0].data_range_end) }}</p>
                {# Else output the range according to locale. Ex output: January 1 2021 - December 31, 2022 (EN), 1 janvier 2021 - 31 decembre 2022 (FR) #}
                {% else %}
                  {{ h.render_datetime(group.list[0].data_range_start) }} - {{ h.render_datetime(group.list[0].data_range_end) }}</p>
                {% endif %}
            {% endif %}
            <ul class="{% block resource_list_class -%}
                         resource-list{%- endblock resource_list_class %}">
              {% for r in group.list|selectattr("format", "equalto", "CSV") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
              {% for r in group.list|selectattr("format", "equalto", "JSON") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
              {% for r in group.list|selectattr("format", "equalto", "KML") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
              {% for r in group.list|rejectattr("format", "equalto", "CSV")|rejectattr("format", "equalto", "JSON")|rejectattr("format", "equalto", "KML")|rejectattr("format", "equalto", "XLS")|rejectattr("format", "equalto", "XLSX") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
              {% for r in group.list|selectattr("format", "equalto", "XLSX") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
              {% for r in group.list|selectattr("format", "equalto", "XLS") %}
                {% snippet "package/snippets/resource_item.html", pkg=pkg, res=r, can_edit=can_edit, schema=schema %}
              {% endfor %}
            </ul>
            <hr />
          {% endfor %}
        {% endblock resource_list_inner %}

        <h2>{{ _("Supporting Files") }}</h2>
        {% if resources | rejectattr("type","equalto","data") | list | length > 0 %}
          <ul class="resource-list">
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
            {% for resource in resources|rejectattr("type","equalto","data") %}
              {% snippet "package/snippets/resource_item.html", pkg=pkg, res=resource, can_edit=can_edit, schema=schema %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="empty">{{ _('This dataset has no supporting files') }}</p>
        {% endif %}
      {% else %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
            <p class="empty">
              This dataset has no data, <a href="{{ url }}">why not add some?</a>
            </p>
          {% endtrans %}
        {% else %}
          {% if not pkg['access_level'] %}<p class="empty">{{ _('This dataset has no data') }}</p>{% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endblock resource_list %}
</section>
