{#
  Complete override of template to make each list item a row with 2 columns. No parent block in this snippet so I've had to override 
  whole thing. 
  The translation of description worked fine here assuming the field was translated in the schema.
#}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.id if is_activity_archive else pkg.name, resource_id=res.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}
<li class="resource-item row" data-id="{{ res.id }}">
  <div class="col-md-6 col-xs-12">
    {% block resource_item_title %}
      {% if res.format in h.dict_list_reduce(pkg.resources, 'format') and res.format | length < 5 %}
        <div class="label-div">
          <span class="label label-default"
                property="dc:format"
                data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
        </div>
      {% else %}
        <div class="label-div">
          <span class="label label-default" data-format="other">{{ _("Other") }}</span>
        </div>
      {% endif %}
      <a class="resource-item-title"
         href="{{ url }}"
         title="{{ res.name or res.description }}">
        {{ h.resource_display_name(res) | truncate(50) }}
      </a>
      {% if res.language %}
        <span class="label label-{{ res.language }}">
          {{ h.scheming_choices_label(
          h.scheming_field_choices(h.scheming_field_by_name(schema.resource_fields, 'language')), res.language) }}
        </span>
      {% endif %}
    {% endblock resource_item_title %}

    {% block resource_item_description %}
      {% if res.data_last_updated or res.language %}
        <p class="description details">
          {% if res.data_last_updated %}{{ _("Last Updated") }}: {{ h.render_datetime(res.data_last_updated) }}{% endif %}
        </p>
      {% endif %}
      <p class="description resource-item-description">
        {% if res.description %}{{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}{% endif %}
      </p>
    {% endblock resource_item_description %}
  </div>
  <div class="col-md-6 col-xs-12 text-right">
    {% block resource_item_explore %}
      {% if not url_is_edit %}
        <div>
          {% block resource_item_explore_links %}
            <a href="{{ url }}"
               class="resource-button-primary ontario-button ontario-button--primary">
              <span class="resource-button-text">
                {% if res.format == "CSV" %}
                  <i class="fa fa-bar-chart-o"></i>
                  {{ _('Preview') }}
                {% else %}
                  <i class="fa fa-info-circle"></i>
                  {{ _('About') }}
                {% endif %}
                <br />
                {% if res.language and res.language != 'english_and_french' %}
                  {{ h.scheming_choices_label(
                  h.scheming_field_choices(h.scheming_field_by_name(schema.resource_fields, 'language')), res.language) }}
                {% endif %}
              </span>
            </a>
            {% if res.url and h.is_url(res.url) %}
              {% asset 'ontario_theme/ontario_theme_download_tracker_js' %}
              {% set this_org = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
              {% if pkg.groups %}
                {% set this_group = pkg.groups[0]['name'] %}
              {% else %}
                {% set this_group = '' %}
              {% endif %}
              <a href="{{ res.url }}"
                 class="resource-button-secondary resource-url-analytics ontario-button ontario-button--secondary dataset-download-link"
                 onclick="trackDownload('{{ res.url }}', '{{ this_org }}', '{{ pkg.title }}', '{{ this_group }}');return true;">
                <span class="resource-button-text">
                  {% if res.has_views or res.url_type == 'upload' %}
                    <i class="fa fa-arrow-circle-o-down"></i>
                    {{ _('Download') }}
                    <br />
                    {% if res.language and res.language != 'english_and_french' %}
                      {{ h.scheming_choices_label(
                      h.scheming_field_choices(h.scheming_field_by_name(schema.resource_fields, 'language')), res.language) }}
                    {% endif %}
                    {% if res.size %}({{ h.localised_filesize(res.size) }}){% endif %}
                  {% else %}
                    <i class="fa fa-external-link"></i>
                    {{ _('Open') }}
                    <br />
                    {% if res.language and res.language != 'english_and_french' %}
                      {{ h.scheming_choices_label(
                      h.scheming_field_choices(h.scheming_field_by_name(schema.resource_fields, 'language')), res.language) }}
                    {% endif %}
                  {% endif %}
                </span>
              </a>
            {% endif %}
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and h.check_access('resource_update', res) %}
            {% if can_edit %}
              <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}"
                 class="ontario-button ontario-button--tertiary">
                <i class="fa fa-pencil-square-o"></i>
                {{ _('Edit') }}
              </a>
            {% endif %}
          {% endblock resource_item_explore_links %}
        </div>
      {% endif %}
    {% endblock resource_item_explore %}
  </div>
</li>
