{#
  Complete override of template to make each list item a row with 2 columns. No parent block in this snippet so I've had to override 
  whole thing. 
  The translation of description worked fine here assuming the field was translated in the schema.
#}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.id if is_activity_archive else pkg.name, resource_id=res.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}
<li itemscope itemprop="distribution" itemtype="http://schema.org/DataDownload" class="resource-item ontario-row
           {% if not can_edit -%}
             resource-item-div{%- endif -%}"
    data-id="{{ res.id }}">
  <meta itemprop="identifier" content="{{ res.id }}"/>
  <div class="ontario-columns ontario-large-7 ontario-small-12" >
    {% block resource_item_title %}
      {% if res.format in h.dict_list_reduce(pkg.resources, 'format') and res.format %}
        <div class="label-div">
          <span class="label label-default"
                property="dc:format"
                data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
        </div>
        {% if res.mimetype %}
          <meta itemprop="encodingFormat" content="{{ res.mimetype }}"/>
        {% else %}
          <meta itemprop="encodingFormat" content="{{ res.format }}"/>
        {% endif %}
      {% else %}
        <div class="label-div">
          <span class="label label-default" data-format="other">{{ _("Other") }}</span>
        </div>
      {% endif %}
      <div class="resource-info">
        <a class="resource-item-title"
           href="{{ url }}"
           itemprop="url"
           title="{{ res.name or res.description }}">{{ h.resource_display_name(res)|truncate(50) }}</a>
        {% if res.language %}
          <span itemprop="inLanguage" class="label label-{{ res.language }}">
            {{ h.scheming_choices_label(
            h.scheming_field_choices(h.scheming_field_by_name(schema.resource_fields, 'language')), res.language) }}
          </span>
        {% endif %}
        {% if res.size %}
          <span itemprop="contentSize" class="filesize">[{{ h.ontario_theme_abbr_localised_filesize(res.size)|safe }}]</span>
        {% endif %}
      </div>
    {% endblock resource_item_title %}

    {% block resource_item_description %}
      {% if res.data_last_updated %}
        <p class="description details">{{ _("Last Updated") }}: {{ h.render_datetime(res.data_last_updated) }}</p>
        <meta itemprop="dateModified" content="{{ res.data_last_updated }}"/>
      {% endif %}
      {% if res.description %}
        <p class="description resource-item-description">
          {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
        </p>
      {% endif %}
    {% endblock resource_item_description %}
  </div>
  <div class="ontario-columns ontario-large-5 ontario-small-12 text-right">
    {% block resource_item_explore %}
      {% if not url_is_edit %}
        <div class="resource-buttons">
          {% block resource_item_explore_links %}
            <a href="{{ url }}" class="ontario-button ontario-button--secondary">{{ _('Explore') }}</a>
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and h.check_access('resource_update', res) %}
            {% if can_edit %}
              <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}"
                 class="ontario-button ontario-button--tertiary">
                <i class="fa fa-pencil-square-o"></i>{{ _('Edit') }}
              </a>
            {% endif %}
          {% endblock resource_item_explore_links %}
        </div>
      {% endif %}
    {% endblock resource_item_explore %}
  </div>
  {% if not can_edit %}<a href="{{ url }}" class="anchor-div"></a>{% endif %}
</li>
