{% ckan_extends %}

{% block nums %}
  <div class="nums">
    <dl>
      <dt>{{ _('Followers') }}</dt>
      <dd data-module="followers-counter" data-module-id="{{ group.id }}" data-module-num_followers="{{ group.num_followers }}">{{ h.SI_number_span(group.num_followers) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(group.package_count) }}</dd>
    </dl>
  </div>
{% endblock %}

{% block follow %}
  <div class="follow_button">
    {{ h.follow_button('group', group.id) }}
  </div>
{% endblock %}