{#
  Used on dataset create and edit as well as resource create and edit 
  sidebars.
#}

<div class="alert alert-danger top-margin" 
     role="alert">
  <p>
    <i class="fa fa-info-circle" 
       aria-hidden="true"></i> 
    By adding or editing this you are confirming that this data / information 
    is appropriate to share with the OPS.
  </p>
  <p>Review the <a href="{{ h.url_for('ontario_theme.help') + '#guidebook-posting-data-or-information-on-colby' }}" target="_blank">Posting Guide</a> if you're unsure.</p>
</div>