{% ckan_extends %}

{% block resource_item_title %}
<a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
  {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span> <span class="text-muted small"> ({{ h.localised_filesize(res.size) if res.size else _('unknown size') }})</span>
  {{ h.popular('views', res.tracking_summary.total, min=10) }}
</a>
{% endblock %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
  <div>
    {% block resource_item_explore_links %}
        <a href="{{ url }}" class="btn btn-primary">
          {% if res.has_views %}
            <i class="fa fa-bar-chart-o"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('About') }}
          {% endif %}
        </a>
      {% if res.url and h.is_url(res.url) %}
        <a href="{{ res.url }}" class="resource-url-analytics btn btn-primary" target="_blank">
          {% if res.has_views or res.url_type == 'upload' %}
            <i class="fa fa-arrow-circle-o-down"></i>
            {{ _('Download') }}
          {% else %}
            <i class="fa fa-external-link"></i>
            {{ _('Open') }}
          {% endif %}
        </a>
      {% endif %}
      {% if can_edit %}
        <a href="{{ h.url_for('resource.edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary">
          <i class="fa fa-pencil-square-o"></i>
          {{ _('Edit') }}
        </a>
      {% endif %}
    {% endblock %}
  </div>
  {% endif %}
{% endblock %}