{#

Renders a row of 3 featured content cards on the home page.

These are hardcoded values, typically highlighting datasets
already existing in the system.

#}

  <div class="row">
    <div class="col-md-12">
      <h3>Featured Colby-only Data</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="/dataset/multi-year-planning-program-inventory" class="card">
        <div>
          <img alt="" src="/images/backgrounds/carlos-muza-84523-unsplash_converted.jpg">
          <h4 class="primary-fg">Program inventory</h4>
          <p>Inventory of all government programs and expenses, what groups the programs are intended to benefit and the expected outcomes.</p>
          <p class="action secondary-fg text-uppercase">Explore</p>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/dataset/live-pig-exports" class="card">
        <div>
          <img alt="" src="/images/featured_content/featureddata-livepigexports.jpg">
          <h4 class="primary-fg">Live pig exports</h4>
          <p>Statistical data on Ontario exports of live pigs to the United States and an example graph visualizing the machine readable data.</p>
          <p class="action secondary-fg">EXPLORE</p>
        </div>
      </a>  
    </div>

    <div class="col-md-4">
      <a href="/dataset/serviceontario-services-inventory" class="card">
        <div>
          <img alt="" src="/images/featured_content/featureddata-serviceontario.jpg">
          <h4 class="primary-fg">ServiceOntario</h4>
          <p>Facts what services are provided, how many people use them, how satisfied people are afterwards and more.</p>
          <p class="action secondary-fg">EXPLORE</p>
        </div>
      </a>
    </div>
  </div>