<!--Data and records shared here in Colby will help OPS employees to find creative solutions for policy and program design and measurement, enabling an evidence based and outcomes driven government. Learn more about Colby and sharing data and records.

Colby has all the data from the public data catalogue PLUS internal data and records that aren’t shared publicly. -->
<div class="introduction">
  Colby is a data and information catalogue for OPS employees. It allows the OPS to
  <ul>
    <li>
      <span class="emphasize">share</span> data and information with other ministries
    </li>
    <li>
      <span class="emphasize">get</span> data and information other ministries have shared and data publicly available on <a href="http://www.ontario.ca/data" target="_blank">Ontario.ca's public catalogue</a>
    </li>
    <li>
      <span class="emphasize">use</span> data and information to find creative solutions for policy and program design and measurement to enable an evidence based and outcomes driven government 
    </li>
  </ul>
  <div style="text-align: center">
    <a href="/about" class="label">Learn more about Colby and sharing data and records</a>
  </div>
</div>