{#

Renders a row of 3 featured content cards on the home page.

These are hardcoded values, typically highlighting datasets
already existing in the system.

#}
<div class="container">
  <div class="row h4 top-padding">
    <div class="span12 small-12 large-12 columns">
      <h3>Featured Colby-only Data</h3>
    </div>
  </div>

  <br>
  <div class="row h4">
    <div class="span4 small-12 large-4 columns">
      <a href="/dataset/multi-year-planning-program-inventory" class="card">
        <div>
          <h4 class="primary-fg"><img alt="" src="http://c1.staticflickr.com/1/917/29784913448_3431534ee5.jpg"><br><br>
          Program inventory</h4>
          <p>Inventory of all government programs and expenses, what groups the programs are intended to benefit and the expected outcomes.</p>
          <p class="action large secondary-fg">EXPLORE</p>
        </div>
      </a>
    </div>

    <div class="span4 small-12 large-4 columns">
      <a href="/dataset/live-pig-exports" class="card">
        <div>
          <h4 class="primary-fg"><img alt="" src="/images/featured_content/featureddata-livepigexports.jpg"><br><br>
          Live pig exports</h4>
          <p>Statistical data on Ontario exports of live pigs to the United States and a graph visualizing the data.</p>
          <p class="action large secondary-fg">EXPLORE</p>
        </div>
      </a>  
    </div>

    <div class="span4 small-12 large-4 columns">
      <a href="/dataset/serviceontario-services-inventory" class="card">
        <div>
          <h4 class="primary-fg"><img alt="" src="/images/featured_content/featureddata-serviceontario.jpg"><br><br>
           ServiceOntario</h4>
          <p>Facts what services are provided, how many people use them, how satisfied people are afterwards and more. </p>
          <p class="action large secondary-fg">EXPLORE</p>
        </div>
      </a>
    </div>
  </div>
</div>