{#

Renders a hard coded site description/introduction to
help users better understand the data catalogue

#}
<div class="row">
  <div class="col-md-12 intro-text">
      <strong>Welcome to the beta version of the Ontario Data catalogue!</strong><br />
      We are developing a catalogue that will better meet your data needs. It will continually grow and evolve over time as we work to improve it. Data is either open, restricted, under review or in the process of being made open, depending on the sensitivity of the information. 
  </div>
</div>
