{#

Renders a hard coded site description/introduction to
help users better understand what Colby is and how it
can be used.

#}
<div class="row">
  <div class="col-md-4">
    <i class="fa fa-bullhorn large primary-fg"></i>
    <h3 class="primary-fg">Share</h3>
    <p>Let other ministries explore and learn from your amazing data and information.</p>
  </div>

  <div class="col-md-4">
    <i class="fa fa-download large primary-fg"></i>
    <h3 class="primary-fg">Get</h3>
    <p>Access data and information other ministries have shared and data publicly available on <a href="http://www.ontario.ca/data" target="_blank">Ontario.ca's public catalogue</a>.</p>
  </div>

  <div class="col-md-4">
    <i class="fa fa-line-chart large primary-fg"></i>
    <h3 class="primary-fg">Use</h3>
    <p>Find creative solutions for policy and program design and measurement with available data and information. Enable an evidence based and outcomes driven government.</p>
  </div>
</div>

<div class="row top-margin">
  <div class="col-md-12">
    <p class="text-center">
      <a href="/about" class="btn btn-lg btn-secondary">Learn more about Colby and sharing data and information</a>
    </p>
  </div>
</div>