{#

Renders contact information for the site on the home page.

#}
<div class="contact-us"> 
  <h2>Contact us</h2>

    <div class="row">
      <div class="col-md-6">
        <h3><a href="https://mailchi.mp/43387219d995/openonnewsletter">Subscribe</a></h3>
        <p>
          Subscribe to our mailing list to find out what’s new in the world of Open Government and what new data and records have been added to Colby. Or check us out on <a href="https://twitter.com/opengovon">Twitter</a>.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Data enquiries</h3>
        <p>For feedback and questions on individual datasets or records contact the maintainer (listed on the dataset page) by email.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
         <h3><a href="https://intra.sdc.gov.on.ca/sites/cac-oak/collab/opengovteam/OGLeads/Lists/Staff%20Leads/Staff%20Leads.aspx">Ministry contacts</a></h3>
         <p>Contact your ministry’s open government lead with questions you have about open data, open information and public consultations.</p>
       </div>
      <div class="col-md-6">
         <h3>Colby team</h3>
         <p>If you have questions about the Colby site, email <a href="mailto:opengov@ontario.ca">opengov@ontario.ca</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
         <h3><a href="https://intra.sdc.gov.on.ca/sites/cac-oak/collab/opengovteam/OGLeads/SitePages/OG%20Support%20Teams.aspx">Open government advisors</a></h3>
         <p>If you are a ministry open government lead, contact your open government advisor for questions about open data, open information and public consultations.</p>
      </div>
    </div>

</div>