<ul class="topics">

	<li class="topic-jobs">
		<a href="/dataset?tags=Jobs+and+employment"><i></i><span>Jobs + Employment</span></a>
	</li>
	<li class="topic-driving">
		<a href="/dataset?tags=Driving+and+roads"><i></i><span>Driving + Roads</span></a>
	</li>
	<li class="topic-education">
		<a href="/dataset?tags=Education+and+training"><i></i><span>Education + Training</span></a>
	</li>
    <li class="topic-business">
        <a href="/dataset?tags=Business+and+economy"><i></i><span>Business + Economy</span></a>
    </li>
	<li class="topic-environment">
		<a href="/dataset?tags=Environment+and+energy"><i></i><span>Environment + Energy</span></a>
	</li>
	<li class="topic-health">
		<a href="/dataset?tags=Health+and+wellness"><i></i><span>Health + Wellness</span></a>
	</li>
	<li class="topic-home">
		<a href="/dataset?tags=Home+and+community"><i></i><span>Home + Community</span></a>
	</li>
	<li class="topic-law">
		<a href="/dataset?tags=Law+and+safety"><i></i><span>Law + Safety</span></a>
	</li>
	<li class="topic-rural">
		<a href="/dataset?tags=Rural+and+north"><i></i><span>Rural + North</span></a>
	</li>
	<li class="topic-taxes">
		<a href="/dataset?tags=Taxes+and+benefits"><i></i><span>Taxes + Benefits</span></a>
	</li>
	<li class="topic-travel">
		<a href="/dataset?tags=Travel+and+recreation"><i></i><span>Travel + Recreation</span></a>
	</li>
	<li class="topic-arts">
		<a href="/dataset?tags=Arts+and+Culture"><i></i><span>Arts + Culture</span></a>
	</li>
</ul>
