<ul class="small-block-grid-1 medium-block-grid-3 stats top-margin topics">
    <li class="text-center">
        <div class="circle--small circle1">
            <a href="/dataset?tags=Jobs+and+employment">
                <span class="home-ico ico-sprite-briefcase top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Jobs+and+employment">Jobs + employment</a>
        </div>
        <p class="no-margin">Jobs, training, employment standards, and employer hiring incentives.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle2">
            <a href="/dataset?tags=Driving+and+roads">
                <span class="home-ico ico-sprite-car top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Driving+and+roads">Driving + roads</a>
        </div>
        <p class="no-margin">Road conditions, licence and registration, Drive Clean, and more.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle3">
            <a href="/dataset?tags=Education+and+training">
                <span class="home-ico ico-sprite-education top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Education+and+training">Education + training</a>
        </div>
        <p class="no-margin">Schools, financial aid, skills training, and child care.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle4">
            <a href="/dataset?tags=Business+and+economy">
                <span class="home-ico ico-sprite-economy top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Business+and+economy">Business + economy</a>
        </div>
        <p class="no-margin">Business owners, research grants, economic development, trade, and more.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle5">
            <a href="/dataset?tags=Environment+and+energy">
                <span class="home-ico ico-sprite-leaves top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Environment+and+energy">Environment + energy</a>
        </div>
        <p class="no-margin">Climate change, air, water, fish and wildlife, electricity, and more.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle6">
            <a href="/dataset?tags=Health+and+wellness">
                <span class="home-ico ico-sprite-healthcross top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Health+and+wellness">Health + wellness</a>
        </div>
        <p class="no-margin">Health card, organ donation, locations, wellness, and disease prevention.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle7">
            <a href="/dataset?tags=Home+and+community">
                <span class="home-ico ico-sprite-houses top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Home+and+community">Home + community</a>
        </div>
        <p class="no-margin">Address change, birth and marriage certificates, tenant protection, and more.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle8">
            <a href="/dataset?tags=Law+and+safety">
                <span class="home-ico ico-sprite-lawscale top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Law+and+safety">Law + safety</a>
        </div>
        <p class="no-margin">Legal system, consumer rights, courts, police, emergency and victim services.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle9">
            <a href="/dataset?tags=Rural+and+north">
                <span class="home-ico ico-sprite-trees top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Rural+and+north">Rural + north</a>
        </div>
        <p class="no-margin">Local food, agriculture, communities, and development.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle10">
            <a href="/dataset?tags=Taxes+and+benefits">
                <span class="home-ico ico-sprite-coins top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Taxes+and+benefits">Taxes + benefits</a>
        </div>
        <p class="no-margin">Financial supports, personal income tax, <abbr title="harmonized sales tax">HST</abbr>, and business taxes.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle11">
            <a href="/dataset?tags=Travel+and+recreation">
                <span class="home-ico ico-sprite-plane top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Travel+and+recreation">Travel + recreation</a>
        </div>
        <p class="no-margin">Ontario parks, fishing and hunting, and tourism.</p>
    </li>
    <li class="text-center">
        <div class="circle--small circle12">
            <a href="/dataset?tags=Arts+and+culture">
                <span class="home-ico ico-sprite-arts top-margin"></span>
            </a>
        </div>
        <div class="stats-caption smaller">
            <a href="/dataset?tags=Arts+and+culture">Arts + culture</a>
        </div>
        <p class="no-margin">Performances, galleries, museums, grants, and heritage properties.</p>
    </li>
</ul>