{#
  facet_list_heading block changed to add screenreader text to clarify which filters are active and which ones are not.
#}

{% ckan_extends %}

{% set hide_empty = true %}

{% block facet_list_heading %}
  {% with items = items or h.get_facet_items_dict(name) %}
  <h2 class="module-heading">
    <i class="fa fa-medium fa-filter"></i>
    {% set title = title or h.get_facet_title(name) %}
    {{ title }}
    {% set screen_reader_text = "No search filters applied for "+title+". Options are " %}
    {% if items %}
      {% if (items|selectattr("active")|list|length) > 0 %}
        {% set screen_reader_text = "The following search filters are applied for "+title+" " %}
      {% endif %}               
    {% endif %} 
  </h2>
  <span class="accessibly-hidden">{{screen_reader_text}}</span>
  {% endwith %}
{% endblock %}