{% ckan_extends %}

{% block heading %}
  <h1 class="heading">{{ h.get_translated(organization, "title") or organization.name }}
    {% if organization.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
  </h1>
{% endblock %}

{% block description %}
  {% if h.get_translated(organization,"description") %}
    <p>
      {{ h.markdown_extract(h.get_translated(organization,"description"), 180) }}
      {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
    </p>
  {% else %}
    <p class="empty">{{ _('There is no description for this organization') }}</p>
  {% endif %}
{% endblock %}
