{% ckan_extends %}

{% block heading %}
  <h1 class="heading">{{ h.get_translated(organization, "title") or organization.name }}
    {% if organization.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
  </h1>
{% endblock %}

{% block description %}
  {% if h.get_translated(organization,"description") %}
    <p>
      {{ h.markdown_extract(h.get_translated(organization,"description"), 180) }}
      {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
    </p>
  {% else %}
    <p class="empty">{{ _('There is no description for this organization') }}</p>
  {% endif %}
{% endblock %}

{% block nums %}
  <div class="nums">
    <dl>
      <dt>{{ _('Followers') }}</dt>
      <dd data-module="followers-counter" data-module-id="{{ organization.id }}" data-module-num_followers="{{ organization.num_followers }}">{{ h.SI_number_span(organization.num_followers) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
    </dl>
  </div>
{% endblock %}
{% block follow %}
  <div class="follow_button">
    {{ h.follow_button('group', organization.id) }}
  </div>
{% endblock %}