{% ckan_extends %}

{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
    {% if query %}
      {#
        Groups/Organizations don't have facets set or the
        remove_field() function in their index() action. 
        Only show when facets and a query are available to avoid
        missing attribute error.
      #}
      <span>
        <span class="facet">with the keyword(s):</span>
        <span class="filtered pill">
          {{ query }}
          <a href="{{ facets.remove_field('q', query) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
        </span>
      </span>
    {% endif %}  
    {% if facets %}
        {% for field in facets.fields %}
          <span>
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span class="facet">
            {% if (not query and not loop.index0==0) or query %}
              <span class="accessibly-hidden"> and </span>
            {% endif %}
            {{ facets.titles.get(field, "Has Resources (data)") }}:
          </span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) if value != '[1 TO *]' else 'True' }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
          </span>
        {% endfor %}
    {% endif %}
    </p>
    <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock %}