{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% set organization_name = (h.get_translated(organization, "title") or organization.name) %}
{% block item %}
  <li class="group-search-table-cell-row">
    {% block item_inner %}
      <div class="group-search-table-cell">
        {% block title %}
          <span id="ministry-title" class="ministry-heading">{{ organization_name }}</span>
        {% endblock title %}
      </div>
      <div class="group-search-table-cell group-search-table-td ontario-table-cell--numeric">
        {% block datasets %}
          {% set organization_datasets = ungettext('{number} <span class="ontario-show-for-sr">dataset</span>', '{number} <span class="ontario-show-for-sr">datasets</span>', organization.package_count) %}
          <span class="group-search-count">{{ organization_datasets.format(number=organization.package_count)|safe }}</span>
        {% endblock datasets %}
      </div>
    {% endblock item_inner %}
    <a href="{{ url }}"
       aria-labelledby="ministry-title"
       class="anchor-div-group"></a>
  </li>
{% endblock item %}
