{% block organization_list %}
  <div class="group-search-table ontario-small-12">
    {% block organization_list_inner %}
      <div class="group-search-table-thead">
        <div class="group-search-table-row">
          <div class="group-search-table-thead-th" aria-hidden="true">{{ _("Ministries") }}</div>
          <div class="group-search-table-thead-th" aria-hidden="true">{{ _("Datasets") }}</div>
        </div>
      </div>
      <div class="group-search-table-tbody">
        {% for organization in organizations %}
          {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index, show_capacity=show_capacity %}
        {% endfor %}
      </div>
    {% endblock organization_list_inner %}
  </div>
{% endblock organization_list %}
