{% ckan_extends %}

{% set exclude_fields = [
  'name',
  'title_translated',
  'org_contact',
  'image_url',
  'description_translated'
  ] %}
{% block primary_content_inner %}
  {% block organization_extras %}
    <dl class="inline-dl">
      {% for f in c.scheming_fields %}
        {% if f.field_name not in exclude_fields %}
          <dt>{{ h.scheming_language_text(f.label) }}{{ _(':') }}</dt>
          <dd>
            {% for dict_item in f.choices %}
              {% if dict_item['value'] == c.group_dict[f.field_name] %}
                {% set index = loop.index0 |int %}
                {{ h.scheming_language_text(f.choices[index].label) }}
              {% endif %}
            {% endfor %}
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
  {% endblock organization_extras %}

  {% block organization_contact %}
    {% set contact_page = h.scheming_language_text(c.group_dict['org_contact']) %}
    {% if contact_page %}
      <h3>
        {% trans %}
          For more information
        {% endtrans %}
      </h3>
      <a href="{{ contact_page }}" class="inline-dl">
        {% trans %}
          Contact
        {% endtrans %}
      {{ h.get_translated(c.group_dict, "title") }}</a>
    {% endif %}
  {% endblock organization_contact %}
{% endblock primary_content_inner %}
