{% ckan_extends %}
{% set exclude_fields_internal = [
    'name',
    'title_translated',
    'org_contact',
    'image_url',
    'od_lead_name_1',
    'od_lead_name_2',
    'od_lead_name_3',
    'od_lead_email_1',
    'od_lead_email_2',
    'od_lead_email_3',
    'description_translated'
    ] %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{  h.get_translated(c.group_dict, "title") }}{% endblock %}</h1>
  {% block organization_description %}
    {% if h.get_translated(c.group_dict, "description") %}
      {{ h.render_markdown(h.get_translated(c.group_dict, "description")) }}
    {% endif %}
  {% endblock %}
  {% block organization_extras %}
    <dl>
      {% for f in c.scheming_fields %}
	      {% if f.field_name not in exclude_fields_internal %}
          <dt>{{ h.scheming_language_text(f.label) }}:</dt>
          <dd>{{ c.group_dict[f.field_name] or ("&nbsp;"|safe) }}</dd>
	      {% endif %}
      {% endfor %}
    </dl>
  {% endblock %}
  {% block organization_contact %}
    {% set contact_page = h.scheming_language_text(c.group_dict['org_contact']) %}
    <h3>{% trans %}For more information{% endtrans %} </h3>
    {% if c.group_dict.get('od_lead_email_1') or c.group_dict.get('od_lead_email_2') or c.group_dict.get('od_lead_email_3')  %}
      <h4>Ministry open data leads:</h4>
      {% for i in [1,2,3] %}
        {% if c.group_dict.get('od_lead_email_'+(loop.index|string)) %}


          {{ h.snippet('snippets/ontario_theme_email.html',
                       contact_name=c.group_dict.get('od_lead_name_'+(loop.index|string)),
                       contact_email=c.group_dict.get('od_lead_email_'+(loop.index|string))) }}<br />
        {% endif %}
      {% endfor %} 
    {% endif %}
    {% if contact_page %}
      <h4>Public inquiries:</h4>
      <a href="{{ contact_page }}" >
        {% trans %}Contact{% endtrans %} {{ h.get_translated(c.group_dict, "title") }}
      </a>
    {% endif %}
  {% endblock %}
{% endblock %}
