{% ckan_extends %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% set organization_dict = h.get_organization(pkg.organization.name) %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(organization_dict, 'title') or organization_dict['title'] %}
      {% set group_type = pkg.organization.type %}
      <li>{% link_for _('Ministries'), named_route='organization.index', named_route=group_type + '_index' %}</li>
      <li id="ministry-name"
          ministry-name="{{ pkg.organization.title }}"
          ministry-name-fr="{{ h.ontario_theme_get_translated_lang(organization_dict, 'title', 'fr') }}">
        {% link_for organization|truncate(30), named_route='organization.read', id=pkg.organization.name, named_route=group_type + '.read' %}
      </li>
    {% else %}
      <li>{% link_for _('Datasets'), 'dataset.search' %}</li>
    {% endif %}
    <li id="dataset-name" dataset-name="{{ pkg.title }}" dataset-name-fr="{{ h.ontario_theme_get_translated_lang(pkg, 'title', 'fr') }}" {{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), named_route='dataset.read', id=pkg.name %}
    </li>
  {% else %}
    <li>{% link_for _('Datasets'), named_route='dataset.search' %}</li>
    <li class="active">
      <a href="">{{ _('Create Dataset') }}</a>
    </li>
  {% endif %}
{% endblock breadcrumb_content %}
