{% extends "package/base.html" %}



{% block primary_content_inner %}


<h1 class="ontario-h1">Step 4: Review and publish</h1>
RESOURCE_ID: {{resource_id}}

<div class="ontario-row">
    <div class="ontario-columns ontario-small-7">
        <h2 class="ontario-h2">Resource file and metadata</h2>
    </div>
    <div class="ontario-columns ontario-small-5">        
        {% link_for _('Edit resource file and metadata'), named_route='resource.edit', 
                                                          id=pkg.name,
                                                          resource_id=resource_id
        %}

    </div>
</div>



<div class="ontario-column ontario-small-12">
    <h3 class="ontario-h3">Resource file</h3>
</div>

<div class="ontario-column ontario-small-12">
  <h3 class="ontario-h3">Metadata</h3>
</div>

<div class="ontario-row">
    <div class="ontario-columns ontario-small-4">
        <h2 class="ontario-h2">Data dictionary</h2>
    </div>
    <div class="ontario-columns ontario-small-8">        
        {% link_for _('Edit data dictionary'), named_route='datastore.dictionary', 
                                                          id=pkg.name,
                                                          resource_id=resource_id
        %}
    </div>

    <div class="ontario-column ontario-small-12">
        {% set fields = h.datastore_dictionary(resource_id) %}

        <p>show fields {{fields}}</p>


        {% for field in fields %}
            <div>
                <h3 class="ontario-h3">Field {{ loop.index }}. {{ field.id }}</h3>
                <b>Type</b>
                <p>{{ field.type }}</p>
                {% if field.info["label"] %}
                    <b>Label</b>
                    <p>{{ field.info["label"] }}</p>
                {% endif %}
                {% if field.info["notes"] %}
                    <b>Description</b>
                    <p>{{ field.info["notes"] }}</p>
                {% endif %}
          </div>
        {% endfor %}

    </div>



</div>

    {% link_for _('Publish'), named_route='dataset.read', id=pkg.name, class_="ontario-button ontario-button--primary" %}
{% endblock primary_content_inner %}



{% block secondary %}

{% endblock secondary %}