{% ckan_extends %}

{% block subtitle %}
  {{ _('Add or edit') }} {{ g.template_title_delimiter }} {{ h.dataset_display_name(pkg) }}
{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block secondary %}
{% endblock secondary %}

{% block pre_primary %}
  {% snippet "package/snippets/step_indicator.html", step=1 %}
{% endblock pre_primary %}

{% block form_title %}
  {{ _('Add or edit data resource') }}
{% endblock form_title %}

{% block form %}
<p>new_resource_not_draft.html</p>
<p>errors: {{errors}}</p>
<p>error_summary: {{error_summary}}</p>
<p>pkg_name: {{pkg_name}}</p>
<p>pkg_dict: {{pkg_dict}}</p>
<p>dataset_type: {{dataset_type}}</p>
  {% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_dict['name'], pkg_dict=pkg_dict, stage=stage, allow_upload=g.ofs_impl and logged_in, dataset_type=dataset_type %}
{% endblock form %}

{% block page_header %}
{% endblock page_header %}
