{% ckan_extends %}

{% block breadcrumb_content %}
  {% snippet "package/snippets/package_base_breadcrumb.html", pkg=pkg %}
  <li>
    {% link_for h.dataset_display_name(pkg)|truncate(30), named_route=pkg.type ~ '.read', id=pkg.id if is_activity_archive else pkg.name %}
  </li>
  <li>{% link_for _('Edit'), named_route=pkg.type ~ '.edit', id=pkg.name %}</li>
{% endblock breadcrumb_content %}

{% block secondary_content %}
  {% snippet "package/snippets/disclaimer.html" %}
  {{ super() }}
{% endblock secondary_content %}

{% block form %}
  {% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, pkg_dict=pkg_dict, stage=stage, allow_upload=g.ofs_impl and logged_in, dataset_type=dataset_type %}
{% endblock form %}
