{% ckan_extends %}

{% block wrapper_class %}
  dataset-main
{% endblock wrapper_class %}

{% block head_extras %}
{% endblock head_extras %}

{% block meta_description -%}
  {% set description = h.markdown_extract(h.get_translated(pkg, 'notes')) %}
  <meta name="description" content="{{ description|forceescape|trim }}">
{% endblock meta_description -%}

{% block secondary %}
  <aside class="dataset-aside secondary ontario-small-12 ontario-large-4 right-col dataset-font">
    {% block package_organization %}
      {% if pkg.organization %}
        {% set org = h.get_organization(pkg.organization.id) %}
        {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
      {% endif %}
    {% endblock package_organization %}

    {% block package_license %}
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock package_license %}
  </aside>
{% endblock secondary %}
