{% extends "package/read_base.html" %}

{% block schema_tag_attr %}
  {% snippet "package/snippets/schema_markup.html", pkg=pkg, resources=pkg.resources, schema=schema %}
{% endblock schema_tag_attr %}

{% block primary %}
  <article class="module package-z-index">
    {% block content_action %}
      {% if h.check_access('package_update', {'id':pkg.id }) %}
        <div class="ontario-columns ontario-small-12 content_action">
          {% link_for _('Edit'), named_route='dataset.edit', id=pkg.name, class_='btn btn-secondary pull-right', icon='wrench' %}
        </div>
      {% endif %}
    {% endblock content_action %}
    {% block page_heading %}
      <h1 class="ontario-columns ontario-large-8">
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}[{{ _('Draft') }}]{% endif %}
        {% if pkg.state == 'deleted' %}[{{ _('Deleted') }}]{% endif %}
      </h1>
    {% endblock page_heading %}
    <aside class="ontario-show-for-large dataset-aside secondary ontario-large-4 right-col dataset-font">
      {% snippet "package/snippets/package_aside.html", pkg=pkg %}
    </aside>
    <header class="page-header ontario-columns ontario-small-12 ontario-large-8">
      {# Override CKAN: Do not pass any icons to nav bar menu items #}
      {% block content_primary_nav %}
        <ul class="nav nav-tabs">
          {{ h.build_nav_icon(dataset_type ~ '.read', _('Asset'), id=pkg.id if is_activity_archive else pkg.name) }}
          {{ h.build_nav_icon(dataset_type ~ '.groups', _('Groups'), id=pkg.id if is_activity_archive else pkg.name) }}
          {{ h.build_nav_icon(dataset_type ~ '.activity', _('History'), id=pkg.id if is_activity_archive else
          pkg.name) }}
        </ul>
      {% endblock content_primary_nav %}
    </header>
    {% block primary_content_inner %}
      <div class="ontario-columns ontario-small-12 ontario-large-8">
        {% if pkg.get("asset_type") == "ai" %}
          <div class="odc-alert odc-alert-algorithm">
            <p class="ontario-h5">
              {{ _("Artificial Intelligence (<abbr>AI</abbr>)") }}
            </p>
            <p>
              {{ _('This record describes an <abbr title="Artificial Intelligence">AI</abbr> asset. It does not describe a dataset.') }}
              <a href="{{ h.url_for('group.about', id='artificial-intelligence') }}">
                {{ _('Learn more about how Ontario uses <abbr title="Artificial Intelligence">AI</abbr> in government.') }}
              </a>
            </p>
          </div>
        {% endif %}
        {{ super() }}
        {% block package_description %}
          {% if pkg.private %}
            <span class="dataset-private label label-inverse pull-right">
              <i class="fa fa-lock"></i>
              {{ _('Private') }}
            </span>
          {% endif %}
          {% block package_archive_notice %}
            {% if is_activity_archive %}
              <div class="alert alert-danger">
                {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
                  You're currently viewing an old version of this dataset. To see the
                  current version, click <a href="{{ url }}">here</a>.
                {% endtrans %}
              </div>
            {% endif %}
          {% endblock package_archive_notice %}
          {% snippet "package/snippets/ontario_theme_access_level.html", pkg=pkg, dataset_type=dataset_type, schema=schema, resources=resources %}
          {% block package_notes %}
            {% if pkg.notes %}
              <div class="notes embedded-content dataset-font">{{ h.render_markdown(h.get_translated(pkg, 'notes')) }}</div>
            {% endif %}
          {% endblock package_notes %}
          <span class="insert-comment-thread"></span>
        {% endblock package_description %}

        {% block package_additional_info %}
          {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
        {% endblock package_additional_info %}
      </div>
      <div class="ontario-column ontario-small-12">
        {% block package_resources %}
          {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources,
          is_activity_archive=is_activity_archive %}
        {% endblock package_resources %}

        {% block package_tags %}
          {% snippet "package/snippets/tags.html", tags=pkg.tags %}
        {% endblock package_tags %}

        {% if pkg.resources and pkg['access_level'] == 'open' %}
          {% snippet "package/snippets/report_an_error.html" %}
        {% endif %}
        <div class="ontario-small-12">{% snippet "home/snippets/ontario_theme_contact_us.html" %}</div>
      </div>
    {% endblock primary_content_inner %}
    <aside class="ontario-hide-for-large dataset-aside secondary right-col dataset-font">
      {% snippet "package/snippets/package_aside.html", pkg=pkg %}
    </aside>
  </article>
{% endblock primary %}
