{# djlint:off J018 #}
{% ckan_extends %}
{% block wrapper_class %}
  dataset-main
{% endblock wrapper_class %}
{% block secondary %}
  <aside class="dataset-aside secondary col-xs-12 col-lg-4 right-col dataset-font">
    {% block package_info %}
      <div class="module module-narrow module-shallow context-info">
        <h2 class="ontario-h4">{{ _("Keep updated") }}</h2>
        <section>
          <p>{{ _("Subscribe to updates to this dataset using RSS.") }}</p>
          <p>
            <a href="/feeds/custom.atom?q=name:{{ pkg.name }}"
               class="btn btn-primary">
              <i class="fa fa-rss"></i> {{ _('Subscribe') }}
            </a>
          </p>
        </section>
      </div>
    {% endblock package_info %}

    {% block package_organization %}
      {% if pkg.organization %}
        {% set org = h.get_organization(pkg.organization.id) %}
        {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
      {% endif %}
    {% endblock package_organization %}

    {% block package_license %}
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock package_license %}
  </aside>
{% endblock secondary %}
{# djlint:on #}