{% ckan_extends %}


{% block primary_content_inner %}
	{% if pkg.get("asset_type") == "algorithm" %}
	<div class="new-alert alert-info alert-algorithms alert-huge alert-clear">
		<strong>{% trans %}Algorithm/AI Asset{% endtrans %}</strong>
		<p>
			{% trans %}
   			This record describes an algorithm or artificial intelligence asset. It does not describe a dataset. <a href="/group/about/artificial-intelligence-and-algorithms">Learn more here about how the Government of Ontario is working to grow our catalogue beyond data for greater transparency and accountability.</a>
			{% endtrans %}
	    </p>  
	</div>
		{% elif pkg.get("asset_type") == "software_application" %}
	<div class="new-alert alert-info alert-software_application alert-short alert-clear">
		<strong>{% trans %}Software Application{% endtrans %}</strong>
		<p>
			{% trans %}This record describes a software application asset. It does not describe a dataset.{% endtrans %}
	    </p>  
	</div>
	{% endif %}
	{{ super() }}
{% endblock %}
