{% ckan_extends %}

{% block breadcrumb_content %}
  {% snippet "package/snippets/package_base_breadcrumb.html", pkg=pkg, res=res %}
  {% if res %}
    <li>
      {% link_for h.resource_display_name(res)|truncate(30), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id %}
    </li>
  {% endif %}
{% endblock breadcrumb_content %}

{% block secondary %}
{% endblock secondary %}

{% block primary %}
  {% asset "ontario_theme_scripts/ontario_theme_step_indicator" %}
  <div class="resource-margin ontario-columns ontario-small-12">
    {% block primary_content %}
      <article class="module">
        {% block page_header %}
          <header class="module-content page-header">
            <ul class="nav nav-tabs">
              {% block content_primary_nav %}
                {{ super() }}
              {% endblock content_primary_nav %}
            </ul>
          </header>
        {% endblock page_header %}
        <div class="module-content">
          <h1>
            {% block form_title %}
              {{ super() }}
            {% endblock form_title %}
          </h1>
          {% block primary_content_inner %}
            {{ super() }}
          {% endblock primary_content_inner %}
        </div>
      </article>
    {% endblock primary_content %}
  </div>
{% endblock primary %}
