{% ckan_extends %}

{% block breadcrumb_content %}
  {% set dataset = h.dataset_display_name(pkg) %}
  {% set organization_dict = h.get_organization(pkg.organization.name) %}
  {% set organization = h.get_translated(organization_dict, 'title') or organization_dict['title'] %}
  <li>{% link_for _('Ministries'), named_route=pkg.organization.type ~ '.index' %}</li>
  <li id="ministry-name"
      ministry-name="{{ pkg.organization.title }}"
      ministry-name-fr="{{ h.ontario_theme_get_translated_lang(organization_dict, 'title', 'fr') }}">
    {% link_for organization|truncate(30), named_route=pkg.organization.type ~ '.read', id=pkg.organization.name %}
  </li>
  <li id="dataset-name"
      dataset-name="{{ pkg.title }}"
      dataset-name-fr="{{ h.ontario_theme_get_translated_lang(pkg, 'title', 'fr') }}">
    {% link_for dataset|truncate(30), named_route='dataset.read', id=pkg.name %}
  </li>
{% endblock breadcrumb_content %}

{% block resource_read_url %}
  {% asset "ontario_theme/ontario_theme_download_tracker_js" %}
  {% set this_org = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
  {% if pkg.groups %}
    {% set this_group = pkg.groups[0]['name'] %}
  {% else %}
    {% set this_group = "" %}
  {% endif %}
  {% if res.url and h.is_url(res.url) %}
    {# Download link URL on resource page #}
    <p class="text-muted ellipsis">
      {{ _('URL:') }}
      <a class="resource-url-analytics dataset-download-link"
         href="{{ res.url }}"
         title="{{ res.url }}"
         onclick="trackDownload('{{ res.url }}', '{{ this_org }}', '{{ pkg.title }}', '{{ this_group }}');return true;">{{ res.url }}</a>
    </p>
  {% elif res.url %}
    <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
  {% endif %}
  {% snippet "package/snippets/ontario_theme_language_disclaimer.html", pkg=pkg, res=res %}
{% endblock resource_read_url %}

{% block data_preview %}
  {% if res.format == "CSV" %}{{ super() }}{% endif %}
{% endblock data_preview %}

{% block secondary %}
{% endblock secondary %}
