{#

Override CKAN's search.html to:
- add new sorting options
- lift page_primary_action and form blocks to full width of page. pre_primary
block is used to do this which is available through the extending of page.html
in the core template for search.html.
#}

{% ckan_extends %}

{% block ontario_theme_search_form %}
  <div class="row no-padding">
    {# Lifting these block above main content. #}

    {% block page_primary_action %}
      {{ super() }}
    {% endblock %}

    <div class="search-page-heading">
      <h1 class="ontario-h1">{% block page_heading %}{{ _(dataset_type + 's') |capitalize }}{% endblock %}</h1>
    </div>

    {% block form %}
      {% set facets = {
        'fields': c.fields_grouped,
        'search': c.search_facets,
        'titles': c.facet_titles,
        'translated_fields': c.translated_fields,
        'remove_field': c.remove_field }
      %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'name asc'),
        (_('Name Descending'), 'name desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Recently Created'), 'dataset_published_date desc'),
        (_('Datasets With Data'), 'num_resources desc, metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
      %}
      <!-- arguments for DS search bar -->
      {% set sr_input_text = _('Search ' + dataset_type + 's') %}
      {% set sr_submit_text = _("Search") %}
      {% set placeholder = _('Search ' + dataset_type + 's') %}
      {% set query = c.q %}
      <!-- arguments for search form -->
      {% set form_id = 'dataset-search-form' %}
      {% set type = dataset_type %}
      {% set searchbar_title = _('Search ' + dataset_type + 's') + _(':') %}
      {% set hidden_searchbar_title = _('Search ' + dataset_type + 's') %}
      {# Set default sort order. If no sort order has been selected in 
         the Order By dropdown menu, use 'metadata_modified desc' (Last Modified).
      #}
      {% if request['params'] %}
        {% if 'sort' in request['params'] %}
          {% set sort_order = request.params['sort'] %}
        {% else %}
          {% set sort_order = 'metadata_modified desc' %}
        {% endif %}
      {% else %}
        {% set sort_order = 'metadata_modified desc' %}
      {% endif %}
      {% snippet 'snippets/search_form.html', 
                  searchbar_title=searchbar_title, 
                  hidden_searchbar_title=hidden_searchbar_title, 
                  form_id=form_id, 
                  type=type, 
                  query=query, 
                  sorting=sorting, 
                  sorting_selected=sort_order, 
                  count=c.page.item_count, 
                  placeholder=placeholder, 
                  sr_input_text=sr_input_text, 
                  sr_submit_text=sr_submit_text, 
                  facets=facets, 
                  show_empty=request.params, 
                  error=c.query_error, 
                  fields=c.fields %}
    {% endblock %}
  </div>
{% endblock %}

{% block pre_primary %}
{% endblock %}

{% block primary_content %}
  {# Overriding block to remove page_primary_action and form. #}
  <section class="module">
    <div class="module-content">
      {% block package_search_results_list %}
        {{ super() }}
        {{ h.snippet('snippets/package_list.html', packages=packages) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ super() }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  <div class="filters">
    <div>
      <section class="module module-narrow module-shallow">
        {% block facet_list_heading %}
          <h2 class="module-heading">
            <i class="fa fa-filter"></i>
            {% set title = _("Datasets with data") %}
            {{ title }}
          </h2>
        {% endblock %}
        {% block facet_list_items %}
          {% set title = _("Datasets with data") %}
          <nav>
            <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">
              {% set href = h.remove_url_param('num_resources',
                                               extras=extras,
                                               alternative_url=alternative_url) 
                            if c.fields_grouped['num_resources'] 
                            else h.add_url_param(new_params={'num_resources': '[1 TO *]' },
                                                alternative_url=alternative_url) %}
              <li class="{{ nav_item_class or 'nav-item' }}{% if c.fields_grouped['num_resources'] %} active{% endif %}">
                <a href="{{ href }}" title="{{ title }}">
                  <span>{{ title }}</span>
                </a>
              </li>
            </ul>
          </nav>
        {% endblock %}
      </section>
    </div>

  <div>
    {{ h.snippet('snippets/ontario_theme_keywords_facet.html') }}
  </div>

  <div>
    {{ h.snippet('snippets/ontario_theme_jurisdiction_facet.html') }}
  </div>

  <div>
    {{ h.snippet('snippets/ontario_theme_category_facet.html') }}
  </div>

  <div>
    {# 
      Flag facets to be ignored from standard loop that calls facets.
    #}
    {% set excluded_facets = [
      'organization_jurisdiction',
      'organization_category',
      'keywords_en',
      'keywords_fr'
      ]
    %}

    {% for facet in c.facet_titles %}
      {% if facet not in excluded_facets %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
