/* ========================================================================
   Breadcrumbs - à la Design System
   ======================================================================== */
.toolbar ol.breadcrumb {
  color: #aaa;
  padding: 10px 16px;
  list-style: none;
}
.toolbar ol.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.toolbar ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}
.toolbar ol.breadcrumb li a {
  color: #06c;
  text-decoration: underline;
}
.toolbar ol.breadcrumb li a:hover {
  color: #00478f;
  text-decoration: underline;
}
.toolbar .breadcrumb a {
  font-size: 16px;
}
.toolbar .breadcrumb .active a,
.toolbar .breadcrumb a.active {
  font-weight: normal;
}
/* ========================================================================
   Page Alerts -Design System
   ======================================================================== */
.ontario-alert{
    border-width:0 0 0 0.9375rem;
    border-style:solid;
    padding:1.5rem;
    margin:2rem 0 2.5rem 0;
}
.ontario-alert__header{
    display:flex
}
/* In place for the addition of the svg icon */
.ontario-alert__header-icon{
    display:inline-block;
    vertical-align:top;
    margin-right:.95rem;
}
.ontario-alert__header-icon svg{
    width:36px;
    height:36px
}
@media screen and (max-width: 40em){
    .ontario-alert__header-icon svg{
        width:32px;
        height:32px
    }
}
.ontario-alert__header-title{
    margin-bottom:.75rem;
    padding-top:2px
}
.ontario-alert__body{
    margin-left:3.25rem;
    max-width:48rem;
}
@media screen and (max-width: 40em){
    .ontario-alert__body{
        margin-left:0
    }
}
.ontario-alert__body p{
    margin-top:0;
    font-size: 16px;
}
.ontario-alert__body p:last-of-type{
    margin-bottom:.5rem
}
.ontario-alert--informational{
    border-color:#1080a6;
    background-color:#e2f0f4
}
/* =============
   Overrides
   ============= */
.data-h4{
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25.6px;
}
   
/* font styling to be removed when font is updated to DS*/
.ontario-h4{
  font-size: 24px !important;
  line-height: 1.43;
  font-weight: 700;
  letter-spacing: 0.0313rem;
}
/* fa and feedback classes can be removed once icon is replaced with a svg */
.fa.fa-comments {
  font-size: 100px;
  color: #1080A6;
}
.feedback.ontario-alert__header-icon{
  height:100px;
  width:100px;
  margin-left: 3rem;
}
@media screen and (max-width: 40em){
  .fa.fa-comments{
      font-size: 80px;
  }
  .feedback.ontario-alert__header-icon{
    height:80px;
    width:80px;
    margin-left: .5rem;
  }
  .feedback.ontario-alert__body h2{
    margin-top: unset;
  }
}
.feedback.ontario-alert {
  display: flex;
  min-height: 198px;
}
.feedback.ontario-alert__body {
  max-width: unset;
  margin-left: 1rem;
}
.feedback.ontario-alert__body p{
  padding-top: 1rem;
}