/* ========================================================================
   Breadcrumbs - à la Design System
   ======================================================================== */
.toolbar ol.breadcrumb {
  color: #aaa;
  padding: 10px 16px;
  list-style: none;
}
.toolbar ol.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.toolbar ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}
.toolbar ol.breadcrumb li a {
  color: #06c;
  text-decoration: underline;
}
.toolbar ol.breadcrumb li a:hover {
  color: #00478f;
  text-decoration: underline;
}
.toolbar .breadcrumb a {
  font-size: 16px;
}
.toolbar .breadcrumb .active a,
.toolbar .breadcrumb a.active {
  font-weight: normal;
}
/* ========================================================================
   Text Inputs - Design System
   ======================================================================== */

.ontario-input:focus,.ontario-input:active{
  box-shadow:0 0 0 4px #009adb;
  outline:4px solid transparent;
  transition:box-shadow .1s ease-in-out
}
.ontario-input{
  border:2px solid #CCCCCC;
  border-radius:4px;
  box-sizing:border-box;
  color:#1a1a1a;
  display:block;
  font-size:24px;
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1.5;
  margin:0 0 2.5rem;
  max-width:48rem;
  width:100%;
  padding:.625rem 1rem;
  transition:box-shadow .1s ease-in-out
}
.ontario-input--2-char-width{
  max-width:8ex;
  max-width:8ex
}
.ontario-input--3-char-width{
  max-width:10ex;
  min-width:10ex
}
.ontario-input--4-char-width{
  max-width:12ex;
  min-width:12ex
}
.ontario-input--5-char-width{
  max-width:14ex;
  min-width:14ex
}
.ontario-input--7-char-width{
  max-width:17ex;
  min-width:17ex
}
.ontario-input--10-char-width{
  max-width:23ex;
  min-width:23ex
}
.ontario-input--20-char-width{
  max-width:41ex;
  min-width:41ex
}
.ontario-form-group:last-of-type{
  margin-bottom:3rem
}
.ontario-form-group:last-of-type .ontario-checkboxes,.ontario-form-group:last-of-type .ontario-radios{
  margin-bottom:0
}
.ontario-date__group{
  display:flex
}
.ontario-date__group label{
  font-weight:600
}
.ontario-date__group input{
  margin-top:1rem
}
.ontario-date__group-input{
  display:flex;
  flex-direction:column;
  margin-right:1.5rem
}
.ontario-date--error input{
  border:.125rem solid #cd0000
}
/* ========================================================================
    Search - Design System
    ======================================================================== */
.ontario-search-container{
  position:relative;
}
@media screen and (min-width: 73em){
  .ontario-search-container{
      display:flex
  }
}
.ontario-search-input.ontario-input:invalid+input[type=reset]{
  display:none
}
.ontario-search-input.ontario-input:focus~.ontario-search-submit{
  background-color:#06c;
  color:#fff
}
.ontario-search-input.ontario-input:focus~.ontario-search-submit:hover{
  background-color:#00478f;
  color:#fff
}
.ontario-search-input.ontario-input::-ms-clear{
  display:none;
  width:0;
  height:0
}
.ontario-search-input.ontario-input:invalid:focus{
  box-shadow:0 0 0 4px #009adb;
  -moz-box-shadow:none
}
.ontario-search-input.ontario-input:invalid:not(:focus){
  box-shadow:none;
  -moz-box-shadow:none
}
@media screen and (min-width: 40em)and (max-width: 73em){
  .ontario-search-input.ontario-input{
      padding-left:1rem;
      padding-right:6.4rem
  }
}
.ontario-search-submit{
  /* Changed from Design System */
  border:2px solid #CCCCCC;
  border-radius:0 3px 3px 0;
  /* Changed from Design System */
  background-color: #f2f2f2;;
  color:#1a1a1a;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"Open Sans",sans-serif;
  font-weight:600;
  font-size:1.125rem;
  height:100%;
  line-height:1.56;
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
  padding-left:12px;
  padding-right:12px
}
.ontario-search-submit:hover{
  background-color:#00478f;
  color:#fff
}
.ontario-search-submit:focus{
  outline:none;
  box-shadow:0 0 0 4px #009adb;
  background-color:#00478f;
  color:#fff
}
.ontario-search-submit:active{
  background-color:#002142;
  color:#fff
}
.ontario-search-submit svg{
  margin-right:0
}
input[type=reset].ontario-search-reset{
  position:absolute;
  display:flex;
  align-items:center;
  top:11px;
  right:80px;
  height: 28px;
  width:28px;
  color:#000;
  margin:0;
  padding:.5rem;
  background-image:url(/images/ontario-icon-close.svg);
  background-position:center center;
  background-repeat:no-repeat;
  background-color:transparent;
  outline:none;
  border:none;
  cursor:pointer
}
input[type=reset].ontario-search-reset:focus{
  box-shadow:0 0 0 4px #009adb
}
/*Show for sr*/
.ontario-show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.ontario-icon{
  display:inline-block;
  width:24px;
  height:24px;
  stroke-width:0;
  stroke:currentColor;
  fill:currentColor;
  vertical-align:middle;
  overflow:hidden;
  margin-bottom:2px
}
/* =============
  Overrides
  ============= */
.ontario-search-input.ontario-input{
  margin-bottom:0;
  height:84px;
  max-width: unset !important;
}
input[type=reset].ontario-search-reset.home{
  top:28px;
  background-size: 40px;
  right:100px;
}
/* to be removed after implementing DS typography*/
.ontario-lead-statement{
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 400;
}
.greet {
  padding: 15px 0 15px 0;
}
.ontario-icon.search{
  display:inline-block;
  width:52px;
  height:52px;
  stroke-width:0;
  stroke:currentColor;
  fill:currentColor;
  vertical-align:middle;
  overflow:hidden;
  margin-bottom:2px
}
.data-h1{
font-size: 48px !important;
line-height: 65px;
font-weight: 600;
letter-spacing: 0.04rem;
}