@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  font-style: normal;
  src: local("Courier Prime"), local("Courier-prime-regular"), url("../public/fonts/ds-fonts/courier-prime-400/CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  font-style: italic;
  src: local("Courier Prime Italic"), local("Courier-prime-italic"), url("../public/fonts/ds-fonts/courier-prime-400--italic/CourierPrime-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  font-style: normal;
  src: local("Courier Prime Bold"), local("Courier-prime-bold"), url("../public/fonts/ds-fonts/courier-prime-700/CourierPrime-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  font-style: italic;
  src: local("Courier Prime Bold Italic"), local("Courier-prime-bold-italic"), url("../public/fonts/ds-fonts/courier-prime-700--italic/CourierPrime-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), local("Open-Sans-regular"), url("../public/fonts/ds-fonts/open-sans-400/open-sans-400.woff2") format("woff2"), url("../public/fonts/ds-fonts/open-sans-400/open-sans-400.woff") format("woff"), url("../public/fonts/ds-fonts/open-sans-400/open-sans-400.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: local("Open Sans Semibold"), local("Open-Sans-600");
  src: url("../public/fonts/ds-fonts/open-sans-600/open-sans-600.eot");
  src: url("../public/fonts/ds-fonts/open-sans-600/open-sans-600.eot?#iefix") format("embedded-opentype"), url("../public/fonts/ds-fonts/open-sans-600/open-sans-600.woff2") format("woff2"), url("../public/fonts/ds-fonts/open-sans-600/open-sans-600.woff") format("woff"), url("../public/fonts/ds-fonts/open-sans-600/open-sans-600.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Open Sans Italic"), local("Open-Sans-italic"), url("../public/fonts/ds-fonts/open-sans-400--italic/open-sans-400--italic.woff2") format("woff2"), url("../public/fonts/ds-fonts/open-sans-400--italic/open-sans-400--italic.woff") format("woff"), url("../public/fonts/ds-fonts/open-sans-400--italic/open-sans-400--italic.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans Bold"), local("Open-Sans-600");
  src: url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.eot");
  src: url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.eot?#iefix") format("embedded-opentype"), url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.woff2") format("woff2"), url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.woff") format("woff"), url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.ttf") format("truetype"), url("../public/fonts/ds-fonts/open-sans-700/open-sans-700.svg");
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/ds-fonts/raleway-modified-400/raleway-modified-400.woff2") format("woff2"), url("../public/fonts/ds-fonts/raleway-modified-400/raleway-modified-400.woff") format("woff"), url("../public/fonts/ds-fonts/raleway-modified-400/raleway-modified-400.svg") format("svg"), local("Raleway"), local("Raleway-400");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  src: url("../public/fonts/ds-fonts/raleway-modified-600/raleway-modified-600.woff2") format("woff2"), url("../public/fonts/ds-fonts/raleway-modified-600/raleway-modified-600.woff") format("woff"), url("../public/fonts/ds-fonts/raleway-modified-600/raleway-modified-600.svg") format("svg"), local("Raleway SemiBold"), local("Raleway-600");
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/ds-fonts/raleway-modified-700/raleway-modified-700.woff2") format("woff2"), url("../public/fonts/ds-fonts/raleway-modified-700/raleway-modified-700.woff") format("woff"), url("../public/fonts/ds-fonts/raleway-modified-700/raleway-modified-700.svg") format("svg"), local("Raleway Bold"), local("Raleway-700");
}
