.module.search {
  color: #fff;
  .search-form {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  h3 {
    float: left;
  }
  h3,
  .tag {
    margin: 0 10px 0 0;
  }
  .tags {
    a.tag {
      background-color: @primary-colour;
      color: #fff;
      font-weight: bold;
      border: none;
      box-shadow: none;
      padding: 5px 10px;
    }
  }
}

.search-form .search-input button i,
.simple-input .field .btn-search {
  color: @secondary-colour;
}

.hero {
  min-height: 300px;
  line-height: 275px;
  text-align: center; 
  vertical-align: middle;
  .container {
    display: inline-block;
    line-height: 1.5;
    text-align: left;
    vertical-align: middle;
  }
}