.stats {
  .number {
    display: block;
    font-size: 60px;
    margin: 25% auto;
    text-align: center;
    width: 11.25rem;
    line-height: 1.5; /* in ontario css this is in ul styling but is needed for this to work. */
  }
  .stats-caption {
    font-weight: 600;
    font-size: 25px;
  }
}

.circle {
  font-family: Raleway, Open Sans, sans-serif;
  border-radius: 50%;
  color: #fff;
  background-color: #D47500;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  position: relative;
  width: 18rem;
  height: 18rem;
}