{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
      dataset_type not passed to template. your version of CKAN
      might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'notes_translated') and pkg.notes %}
    <div class="notes embedded-content">{{ h.render_markdown(h.scheming_language_text(pkg['notes_translated'])) }}</div>
  {% endif %}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'colby_notes') %}
    <h3>{{ h.scheming_language_text(h.scheming_field_by_name(schema.dataset_fields, 'colby_notes').label) }}</h3>
    <div class="colby_notes embedded-content">{{ h.render_markdown(h.scheming_language_text(pkg['colby_notes'])) }}</div>
  {% endif %}
{% endblock package_notes %}

{% block package_tags %}
  {# Remove tags in favor of keywords. #}
{% endblock package_tags %}

{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html", pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock package_additional_info %}

{% block package_resources %}
  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, schema=schema %}
{% endblock package_resources %}
