{#
  Override scheming to modify the excluded_fields and set the 
  bi-lingual description for resources.
#}
{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
    'data_last_updated',
    'name',
    'description_translated',
    'url',
    'format',
    ] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
{% set license = h.ontario_theme_get_license(pkg.license_id) %}

{% block resource_content %}
  {% block resource_read_title %}
    {{ super() }}
  {% endblock %}
  <div class="datafile-p" property="rdfs:label">
    {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p>{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p>{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
    {% endblock %}
    {% if res.description %}
      {{ h.render_markdown(h.get_translated(res, "description")) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      {{ h.render_markdown(h.get_translated(c.package, 'notes')) }}
      <p><strong>This dataset is shared under <a href="{{ h.get_translated(license, 'url') }}"> {{ h.get_translated(license, 'title') }}</a>.</strong></p>
    {% endif %}
  </div>
{% endblock %}
{% block primary %}
  <div class="col-sm-9 col-xs-12" role="main">
  {% block primary_content %}
    {% block resource_additional_information %}
      {% if res %}
        <section class="module">
          {% block resource_additional_information_inner %}
            <div class="module-content">
              <h3>{{ _('Additional Information') }}</h3>
              <table class="additional-info-table datafile-p table table-striped table-bordered table-condensed" data-module="table-toggle-more">
                <thead>
                  <tr>
                    <th scope="col">{{ _('Field') }}</th>
                    <th scope="col">{{ _('Value') }}</th>
                  </tr>
                </thead>
                <tbody>
                  {%- block resource_last_updated -%}
                    <tr>
                      <th scope="row">{{ _('Last updated') }}</th>
                      <td>{{ h.render_datetime(res.data_last_updated) or h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
                    </tr>
                  {%- endblock -%}
                  {%- block resource_created -%}
                    <tr>
                      <th scope="row">{{ _('Created') }}</th>
                      <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                    </tr>
                  {%- endblock -%}
                  {%- block resource_format -%}
                    <tr>
                      <th scope="row">{{ _('Format') }}</th>
                      <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
                    </tr>
                    {# Add resource size if known. This extends scheming's template. #}
                    <tr>
                      <th scope="row">File size</th>
                      <td>{{ h.localised_filesize(res.size) if res.size else _('unknown size') }}</td>
                    </tr>
                  {%- endblock -%}
                  {%- block resource_license -%}
                    {% set license = h.ontario_theme_get_license(pkg.license_id) %}
                    <tr>
                      <th scope="row">{{ _('License') }}</th>
                      <td>{{ h.get_translated(license, 'title') }}</td>
                    </tr>
                  {%- endblock -%}
                  {%- block resource_fields -%}
                    {%- for field in schema.resource_fields -%}
                      {%- if field.field_name not in exclude_fields
                          and field.display_snippet is not none and
                          res[field.field_name] and (res[field.field_name] != {'fr': '', 'en': ''}) -%}
                        <tr>
                          <th scope="row">
                            {{- h.scheming_language_text(field.label) -}}
                          </th>
                          <td>
                            {%- if field.preset == "date" -%}
                              {{- h.render_datetime(res[field.field_name]) -}}
                            {%- else -%}
                              {%- snippet 'scheming/snippets/display_field.html',
                                  field=field, data=res, entity_type='dataset',
                                  object_type=dataset_type -%}
                            {%- endif -%}
                          </td>
                        </tr>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endblock -%}
                </tbody>
              </table>
            </div>
          {% endblock %}
        </section>
      {% endif %}
    {% endblock %}
  {% endblock %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          {% snippet 'home/snippets/ontario_theme_contact_us.html' %}
      </div>
    </div>
  </div>
{% endblock %}