{% ckan_extends %}

{%- block links -%}
  {{ super() }}
  <script src="//www.webservices.gov.on.ca/metrics.js" type="text/javascript" charset="utf-8"></script>
  {% asset 'ontario_theme/msappproxy_js' %}
  {% snippet "gtm.html" %}
  {% set this_pkg = '' %}
  {% set this_org = '' %}
  {% set this_res = '' %}
  {% if pkg %}
    {% if pkg.organization %}
      {% set this_org = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      {% if pkg.groups %}
        {% set this_group = pkg.groups[0]['name'] %}
      {% else %}
        {% set this_group = '' %}
      {% endif %}
      {% set this_pkg = pkg %}
      {% if res %}
        {% set this_res = res %}
      {% endif %}
    {% endif %}
  {% endif %}  
  {% snippet "gtm_pageview.html", this_pkg=this_pkg, this_org=this_org, this_group=this_group, this_res=this_res %}


{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  {% asset 'ontario_theme/ontario_theme_css' %}
{% endblock %}
