{% ckan_extends %}

{%- block links -%}
  {{ super() }}
  {% asset "ontario_theme/msappproxy_js" %}
  {% asset "ontario_theme_scripts/ontario_theme_js" %}
  {% snippet "gtm.html" %}
  {% set this_pkg_access_level = '' %}
  {% set this_pkg_title = '' %}
  {% set this_org = '' %}
  {% set this_res = '' %}
  {% if pkg %}
    {% if pkg.organization %}
      {% set this_org = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      {% if pkg.groups %}
        {% set this_group = pkg.groups[0]['name'] %}
      {% else %}
        {% set this_group = '' %}
      {% endif %}
      {% set this_pkg_access_level = pkg.access_level %}
      {% set this_pkg_title = pkg.title %}
      {% if res %}
        {% set this_res = res %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% snippet "gtm_pageview.html", this_pkg_access_level=this_pkg_access_level, this_pkg_title=this_pkg_title, this_org=this_org, this_group=this_group, this_res=this_res %}
  {% snippet "snippets/icons.html" %}
{% endblock links %}

{% block styles %}
  {{ super() }}
  {% asset "ontario_theme/ontario_theme_css" %}
  {% asset "ontario_theme/ontario_theme_common" %}
{% endblock styles %}
