<script>
    window.dataLayer = window.dataLayer || [];

    // Only resource views have a resourceName
    if ('{{this_res}}'.length > 0) {
        // Even if a resource exists, it might not have a name.
        // In this case, default to name "Data".
        resourceName = '{{this_res.name}}' ? '{{this_res.name}}' : 'Data';
    }
    // No resourceName for dataset page views
    else {
        resourceName = '';
    }

    // Pushed when a dataset page or a resource page is viewed
    if ('{{this_pkg_title}}'.length > 0) {
        window.dataLayer.push({
            'event': 'Pageview',
            'ministryTag': '{{this_org}}',
            'group': '{{this_group}}',
            'dataAvailability': '{{this_pkg_access_level}}',
            'datasetName': '{{this_pkg_title}}',
            'resourceName': resourceName
        });
    }
    // Pushed when any other page is viewed
    else {
        window.dataLayer.push({
            'event': 'Pageview',
            'ministryTag': '',
            'group': '',
            'dataAvailability': '',
            'datasetName': '',
            'resourceName': ''
        });
    }
</script>
