{#
  Customizes 4 blocks (header_account, header_logo, header_site_navigation,
  header_site_search) but had to copy the whole thing to add accessible text
  for mobile nav.
#}
{% block header_wrapper %}
  {% block header_account %}
    <header class="account-masthead">
      <div class="container">
        {# Inserting additional header logo for parent site. #}
        <hgroup class="{{ g.header_class }} navbar-left">
          <a class="logo" href="https://ontario.ca/"><img src="/logo-ontario@2x.png" alt="Government of Ontario" /></a>
        </hgroup>
        {# End of header logo customization. #}
        {% block header_account_container_content %} {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="list-unstyled">
              {% block header_account_logged %} {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                  <i class="fa fa-gavel" aria-hidden="true"></i>
                  <span class="text">{{ _('Admin') }}</span>
                </a>
              </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                        <span class="username">{{ c.userobj.display_name }}</span>
                      </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                %}
                {# Changed dashboard.index to dashboard.datasets #}
                <a href="{{ h.url_for('dashboard.datasets') }}" title="{{
                notifications_tooltip }}">
                  <i class="fa fa-tachometer" aria-hidden="true"></i>
                  <span class="text">{{ _('Dashboard') }}</span>
                  <span class="badge">{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
              {% endblock %} {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
              {% endblock %} {% endblock %}
              {# Adding custom language selector. #}
              <li>
                {% snippet 'snippets/ontario_theme_language_selector.html' %}
              </li>
            </ul>
          </div>
          {% else %}
          <nav class="account not-authed">
            <ul class="list-unstyled">
              {% block header_account_notlogged %}
                {% if h.check_access('user_create') %}
                  <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
                {% endif %}
                {# Adding custom language selector. #}
                <li>
                  {% snippet 'snippets/ontario_theme_language_selector.html' %}
                </li>
              {% endblock %}
            </ul>
          </nav>
        {% endif %} {% endblock %}
      </div>
    </header>
  {% endblock %}
  <div class="ontario-critical-alert">
    <div class="container">
      <div style="background-color: #FFD440 !important; margin: 0 !important;">
        <div class="ontario-critical-alert__body">
          <div class="ontario-critical-alert__icon">
            <svg class="ontario-icon" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                <use href="#ontario-icon-critical-alert-warning"></use>
            </svg>
          </div>
          <p>Colby will become the Internal Data Catalogue by the end of 2023. There is no action needed on your end. <a href="mailto:opendata@ontario.ca">Let us know if you have questions.</p>
        </div>
      </div>
    </div>
  </div>
<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" aria-expanded="false" type="button" aria-label="{{ _('Toggle navigation') }}">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
        {% if g.site_logo %}
          <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
        {% else %}
          {# Add alpha styling. #}
          <a href="{{ h.url_for('home.index') }}">{{ g.site_title }} <sup>alpha</sup></a>
          {# End customization. #}
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}
      {% endblock %}
    </hgroup>
    
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="list-inline">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('group_index', _('Groups')),          
                ('home.about', _('About')),
                ('ontario_theme.help', _('Help'))
              ) }}
            {% endblock %}
          </ul>
        </nav> 
      {% endblock %}
      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
            <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _("Search Ontario's Data") | truncate(26) }}" />
            <button class="btn-search" type="submit" aria-label="{{ _('Submit Search') }}"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">{{ _('Submit Search') }}</span></button>
          </div>
        </form>
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}