{#
  Customizes 4 blocks (header_account, header_logo, header_site_navigation,
  header_site_search) but had to copy the whole thing to add accessible text
  for mobile nav.
#}

{# Custom language selector. Taken from /internal/snippets/ontario_theme_language_selector.html #}
{% set current_lang = request.environ.CKAN_LANG %}
{% set toggle_to = "fr" %}
{% if current_lang == "fr" %}
  {% set toggle_to = "en" %}
{% endif %}
{% set placeholder = _("Search Ontario's Data") %}
{% set sr_input_text = _("Search") %}
{% set sr_submit_text = _("Search") %}

{% block header_wrapper %}
<div class="ontario-header__container">
  {% block header_account %}
    
      <header class="ontario-application-header ontario-header" id="ontario-header">
      <div class="ontario-row">
        {# Inserting additional header logo for parent site. #}
        <div class="ontario-columns ontario-small-6 ontario-application-header__logo">
          <a href="https://www.ontario.ca/page/government-ontario">
              <img src="/ontario-logo--desktop.svg" alt="Government of Ontario" />
          </a>
      </div>
      <div class="ontario-columns ontario-small-6 ontario-application-header__lang-toggle">
        <a href="{{ h.url_for(h.current_url(), locale=toggle_to) }}" title="{{ toggle_to }}" class="ontario-header__language-toggler ontario-header-button ontario-header-button--without-outline">
            <abbr title="Français" class="ontario-show-for-small-only">
              {{'FR' if current_lang =='en' else 'EN'}}
            </abbr>
            <span class="ontario-show-for-medium">
              {{'Français' if current_lang =='en' else 'English'}}
            </span>
        </a>
    </div>
  </header>
        {# End of header logo customization. #}
        {% block header_account_container_content %} {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="list-unstyled">
              {% block header_account_logged %} {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
                  <i class="fa fa-gavel" aria-hidden="true"></i>
                  <span class="text">{{ _('Admin') }}</span>
                </a>
              </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                        <span class="username">{{ c.userobj.display_name }}</span>
                      </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                %}
                {# Changed dashboard.index to dashboard.datasets #}
                <a href="{{ h.url_for('dashboard.datasets') }}" title="{{
                notifications_tooltip }}">
                  <i class="fa fa-tachometer" aria-hidden="true"></i>
                  <span class="text">{{ _('Dashboard') }}</span>
                  <span class="badge">{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
              {% endblock %} {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
              {% endblock %} {% endblock %}
              {# Adding custom language selector. #}
              <li>
              </li>
            </ul>
          </div>
          {% else %}
          <nav class="account not-authed">
            <ul class="list-unstyled">
              {% block header_account_notlogged %}
                {# Adding custom language selector. #}
                <li>

                </li>
              {% endblock %}
            </ul>
          </nav>
        {% endif %} {% endblock %}
  {% endblock %}

<div class="ontario-application-subheader-menu__container">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <section class="ontario-application-subheader">
    <div class="ontario-row">
        <div class="ontario-columns ontario-small-12 ontario-application-subheader__container">
            <p class="ontario-application-subheader__heading">
                <a href="{{ h.url_for('home.index') }}">Data Catalogue</a>
            </p>

            <div class="ontario-application-subheader__menu-container">
              {% block header_site_navigation %}
                <ul class="ontario-application-subheader__menu ontario-show-for-large">
                  {% block header_site_navigation_tabs %}
                    <li><a href="{{ h.url_for('dataset.search') }}">{{_('Datasets')}}</a></li>
                    <li><a href="{{ h.url_for('organization.index') }}">{{_('Ministries')}}</a></li>
                    <li><a href="{{ h.url_for('home.about') }}">{{_('About')}}</a></li>
                    <li><a href="{{ h.url_for('ontario_theme.help') }}"> {{_('Help')}}</a></li>
                    {% endblock %}
                    <li>{% block header_site_search %}
                      <div class="module search">
                        <form method="get" action="{% url_for 'dataset.search' %}">
                          <div class="ontario-search-container header-search">
                            <label class="ontario-label ontario-show-for-sr" for="ontario-search-input-field">{{ sr_input_text }}</label>
                            <input class="ontario-search-input ontario-input header-search" type="text" id="ontario-search-input-field" name="q" placeholder="{% block search_placeholder %}{{ placeholder | truncate(26) }}{% endblock %}" value="" autocomplete="off">
                            {# <input class="ontario-search-reset home" id="ontario-search-reset" type="reset" value="" aria-label="Clear field" /> #}
                            <button class="ontario-search-submit header-search" id="ontario-search-submit" type="submit">
                              <span class="ontario-show-for-sr">{{ sr_submit_text }}</span>
                              <svg class="ontario-icon search header-search" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                  <use xlink:href="#ontario-icon-search"></use>
                              </svg>
                          </button>
                        </div>
                        </form>
                      </div>
                      {% endblock %}</li>
                </ul>
                
                <ul class="ontario-application-subheader__menu ontario-hide-for-small ontario-show-for-medium ontario-hide-for-large">
                  <li><a href="{{ h.url_for('dataset.search') }}">{{_('Datasets')}}</a></li>
                  <li><a href="{{ h.url_for('organization.index') }}">{{_('Ministries')}}</a></li>
                </ul>
                {% endblock %}
                <button class="ontario-hide-for-large ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline" id="ontario-header-menu-toggler" aria-controls="ontario-navigation" aria-label="open menu" type="button">
                    <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="#ontario-icon-menu"></use>
                    </svg>
                    <span>Menu</span>
                </button>
            </div>
        </div>
    </div>
</section>
<nav class="ontario-navigation" id="ontario-navigation">
  <button class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline" id="ontario-header-nav-toggler" aria-controls="ontario-navigation" aria-label="close">
      <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
          <use xlink:href="#ontario-icon-close"></use>
      </svg>
      <span>Menu</span>
  </button>
  <div class="ontario-navigation__container">
      <ul>
          <li class="ontario-show-for-small-only"><a href="{{ h.url_for('dataset.search') }}">{{_('Datasets')}}</a></li>
          <li class="ontario-show-for-small-only"><a href="{{ h.url_for('organization.index') }}">{{_('Ministries')}}</a></li>
          <li><a href="{{ h.url_for('home.about') }}">{{_('About')}}</a></li>
          <li><a href="{{ h.url_for('ontario_theme.help') }}"> {{_('Help')}}</a></li>
      </ul>
  </div>
</nav>
</div>
</div>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      
    </div>
{% endblock %}