{% ckan_extends %}

{% block package_basic_fields_custom %}
  {# Only admin's and above should get these values i.e. those that can administer organizations. #}
  {# TODO: Write test to validate this restriction. #}

  {% snippet 'package/snippets/submission_tracking_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}

  {% snippet 'package/snippets/dataset_quality_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}

  {% snippet 'package/snippets/archive_tracking_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}

  <fieldset>
    <legend>Metadata</legend>
    {{ form.input('node_id',
                  label=_('Ontario node ID'),
                  id='field-node_id',
                  placeholder=_('4321'),
                  value=data.node_id,
                  error=errors.node_id,
                  classes=['control-medium']) }}
    {{ form.input('technical_title',
                  label=_('Technical title'),
                  id='field-technical_title',
                  placeholder=_('Technical title'),
                  value=data.technical_title,
                  error=errors.technical_title,
                  classes=['control-medium']) }}
    {{ form.input('short_description',
                  label=_('Short description'),
                  id='field-short_description',
                  placeholder=_('Short description'),
                  value=data.short_description,
                  error=errors.short_description,
                  classes=['control-medium'],
                  is_required=true) }}
    {{ form.input('maintainer_branch',
                  label=_('Maintainer branch'),
                  id='field-maintainer_branch',
                  placeholder=_('Maintainer branch'),
                  value=data.maintainer_branch,
                  error=errors.maintainer_branch,
                  classes=['control-medium']) }}
    {{ form.input('data_range_start',
                  label=_('Date range start'),
                  id='field-data_range_start',
                  value=data.data_range_start,
                  error=errors.data_range_start,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.input('data_range_end',
                  label=_('Date range end'),
                  id='field-data_range_end',
                  value=data.data_range_end,
                  error=errors.data_range_end,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.input('data_birth_date',
                  label=_('Data birth date'),
                  id='field-data_birth_date',
                  value=data.data_birth_date,
                  error=errors.data_birth_date,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.input('opened_date',
                  label=_('Resource opened (resource(s) published)'),
                  id='field-opened_date',
                  value=data.opened_date,
                  error=errors.opened_date,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.input('dataset_published_date',
                  label=_('Date dataset was published publicly'),
                  id='field-dataset_published_date',
                  value=data.dataset_published_date,
                  error=errors.dataset_published_date,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.checkbox('contains_geographic_markers',
                     label=_('Contains geographic markers'),
                     id='field-contains_geographic_markers',
                     value=true,
                     checked=data.contains_geographic_markers) }}
    {{ form.input('geographic_coverage',
                  label=_('Geographic coverage'),
                  id='field-geographic_coverage',
                  placeholder=_('Geographic coverage'),
                  value=data.geographic_coverage,
                  error=errors.geographic_coverage,
                  classes=['control-medium']) }}
    {{ form.select('update_frequency',
                   label=_('Update frequency'),
                   options=[{'name': 'As Required', 'text': _('As Required'), 'value': 'as_required'},
                            {'name': 'Biannually', 'text': _('Biannually'), 'value': 'biannually'},
                            {'name': 'Current', 'text': _('Current'), 'value': 'current'},
                            {'name': 'Daily', 'text': _('Daily'), 'value': 'daily'},
                            {'name': 'Historical', 'text': _('Historical'), 'value': 'historical'},
                            {'name': 'Monthly', 'text': _('Monthly'), 'value': 'monthly'},
                            {'name': 'Never', 'text': _('Never'), 'value': 'never'},
                            {'name': 'On Demand', 'text': _('On Demand'), 'value': 'on_demand'},
                            {'name': 'Other', 'text': _('Other'), 'value': 'other'},
                            {'name': 'Periodically', 'text': _('Periodically'), 'value': 'periodically'},
                            {'name': 'Quarterly', 'text': _('Quarterly'), 'value': 'quarterly'},
                            {'name': 'Weekly', 'text': _('Weekly'), 'value': 'weekly'},
                            {'name': 'Yearly', 'text': _('Yearly'), 'value': 'yearly'}],
                   selected=data.update_frequency,
                   id='field-update_frequency',
                   error=errors.update_frequency,
                   classes=['control-medium']) }}
    {{ form.select('access_level',
                   label=_('Access level'),
                   options=[{'name': 'Open', 'text': _('Open'), 'value': 'open'},
                            {'name': 'Restricted', 'text': _('Restricted'), 'value': 'restricted'},
                            {'name': 'To be opened', 'text': _('To be opened'), 'value': 'to_be_opened'},
                            {'name': 'Under review', 'text': _('Under review'), 'value': 'under_review'}],
                   id='field-access_level',
                   selected=data.access_level,
                   error=errors.access_level,
                   classes=['control-medium']) }}
    {{ form.select('exemption',
                   label=_('Exemption'),
                   options=[{'name':'Commercial sensitivity', 'text': _('Commercial sensitivity'), 'value':'commercial_sensitivity'},
                            {'name':'Confidentiality', 'text': _('Confidentiality'), 'value':'confidentiality'},
                            {'name':'Legal and contractual obligations', 'text': _('Legal and contractual obligations'), 'value':'legal_and_contractual_obligations'},
                            {'name':'None', 'text': _('None'), 'value':'none'},
                            {'name':'Privacy', 'text': _('Privacy'), 'value':'privacy'},
                            {'name':'Security', 'text': _('Security'), 'value':'security'}],
                   id='field-exemption',
                   selected=data.exemption,
                   error=errors.exemption,
                   classes=['control-medium']) }}
    {{ form.markdown('exemption_rationale',
                     label=_('Exemption rationale'),
                     id='field-exemption_rationale',
                     placeholder=_('Exemption Rationale'),
                     value=data.exemption_rationale,
                     error=errors.exemption_rationale) }}
    {{ form.markdown('comments',
                     label=_('Comments'),
                     id='field-comments',
                     placeholder=_('Comments'),
                     value=data.comments,
                     error=errors.comments) }}
    {{ form.input('target_posting_date',
                  label=_('Target posting date'),
                  id='field-target_posting_date',
                  value=data.target_posting_date,
                  error=errors.target_posting_date,
                  type='date',
                  classes=['control-medium']) }}
    {{ form.input('assessment_date',
                  label=_('Assessment date'),
                  id='field-assessment_date',
                  value=data.assessment_date,
                  error=errors.assessment_date,
                  type='date',
                  classes=['control-medium']) }}
  </fieldset>
{% endblock %}

