{#

Renders the dataset extras related to submission tracking.
Every dataset goes through some form of submission process. These
fields help track, monitor and report on submissions of datasets.

#}

{% import 'macros/form.html' as form %}

<fieldset>
    <legend>Submission tracking</legend>
        {{ form.select('submission_type',
                       label=_('Submission type'),
                       options=[{'name': 'Colby Candidate', 'text': _('Colby Candidate'), 'value': 'colby_candidate'},
                                {'name': 'Public to Open Dataset', 'text': _('Public to Open Dataset'), 'value': 'public_to_open_dataset'},
                                {'name': 'New Open Dataset', 'text': _('New Open Dataset'), 'value': 'new_open_dataset'},
                                {'name': 'New Dataset (not open)', 'text': _('New Dataset (not open)'), 'value': 'new_dataset_not_open'},
                                {'name': 'Open existing Dataset (i.e. To be opened)', 'text': _('Open existing Dataset (i.e. To be opened)'), 'value': 'open_existing_dataset)'},
                                {'name': 'Major Update of Open Data', 'text': _('Major Update of Open Data'), 'value': 'major_update_of_open_data'},
                                {'name': 'Major Update of non-Open Dataset (i.e. Restricted data)', 'text': _('Major Update of non-Open Dataset (i.e. Restricted data)'), 'value': 'major_update_of_non-open_dataset'}],
                       id='field-submission_type',
                       selected=data.submission_type,
                       error=errors.submission_type,
                       classes=['control-medium'],
                       is_required=true) }}
        {{ form.select('submission_status',
                       label=_('Submission status'),
                       options=[{'name': 'Data Identified for internal sharing', 'text': _('Data Identified for internal sharing'), 'value': 'Data Identified for internal sharing'},
                                {'name': 'Posted to Colby', 'text': _('Posted to Colby'), 'value': 'Posted to Colby'},
                                {'name': 'Data identified for Opening', 'text': _('Data identified for Opening'), 'value': 'Data identified for Opening'},
                                {'name': 'Submission in development', 'text': _('Submission in development'), 'value': 'Submission in development'},
                                {'name': 'Metadata under reivew by Ministry', 'text': _('Metadata under reivew by Ministry'), 'value': 'Metadata under reivew by Ministry'},
                                {'name': 'Metadata in translation', 'text': _('Metadata in translation'), 'value': 'Metadata in translation'},
                                {'name': 'OGO Review', 'text': _('OGO Review'), 'value': 'OGO Review'},
                                {'name': 'MO review/FYI', 'text': _('MO review/FYI'), 'value': 'MO review/FYI'},
                                {'name': 'Uploading/Updating', 'text': _('Uploading/Updating'), 'value': 'Uploading/Updating'},
                                {'name': 'Published', 'text': _('Published'), 'value': 'Published'}],
                       id='field-submission_status',
                       selected=data.submission_status,
                       error=errors.submission_status,
                       classes=['control-medium'],
                       is_required=true) }}
        {{ form.checkbox('rush',
                         label=_('Rush'),
                         id='field-rush',
                         value=true,
                         checked=data.rush) }}
        {{ form.checkbox('issues',
                         label=_('Issues'),
                         id='field-issues',
                         value=true,
                         checked=data.issues) }}
        {{ form.markdown('submission_comments',
                         label=_('Submission comments'),
                         id='field-submission_comments',
                         placeholder=_('Submission comments'),
                         value=data.submission_comments,
                         error=errors.submission_comments) }}
        {{ form.markdown('submission_communication_plan',
                         label=_('Submission communication plan'),
                         id='field-submission_communication_plan',
                         placeholder=_('Submission communications plan'),
                         value=data.submission_communication_plan,
                         error=errors.submission_communication_plan) }}
        {{ form.input('submission_recieved_date',
                      label=_('Submission recieved on'),
                      id='field-submission_recieved_date',
                      value=data.submission_recieved_date,
                      error=errors.submission_recieved_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('submission_service_standard_date',
                      label=_('Service standard date'),
                      id='field-submission_service_standard_date',
                      value=data.submission_service_standard_date,
                      error=errors.submission_service_standard_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('plain_language_start_date',
                      label=_('Sent for plain language review on'),
                      id='field-plain_language_start_date',
                      value=data.plain_language_start_date,
                      error=errors.plain_language_start_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('plain_language_end_date',
                      label=_('Plain language review completed on'),
                      id='field-plain_language_end_date',
                      value=data.plain_language_endt_date,
                      error=errors.plain_language_end_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('final_reivew_date',
                      label=_('Final review completed on'),
                      id='field-final_reivew_date',
                      value=data.final_reivew_date,
                      error=errors.final_reivew_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('with_co_date',
                      label=_('Sent to CO on'),
                      id='field-with_co_date',
                      value=data.with_co_date,
                      error=errors.with_co_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.input('public_published_date',
                      label=_('Pulbished publicly on'),
                      id='field-public_published_date',
                      value=data.public_published_date,
                      error=errors.public_published_date,
                      type='date',
                      classes=['control-medium']) }}
        {{ form.checkbox('met_service_standard',
                         label=_('Met service standard'),
                         id='field-met_service_standard',
                         value=true,
                         checked=data.met_service_standard) }}
</fieldset>