{% ckan_extends %}

{% block subtitle %}
  {{ _('Edit') }} - {{ c.group_dict.display_name }} - {{ _('Groups') }}
{% endblock subtitle %}

{% block breadcrumb_content_inner %}
  <li>
    {% link_for h.get_translated(c.group_dict,"title")|truncate(35), named_route='group.read', id=group.name, named_route=group_type + '.read' %}
  </li>
  <li class="active">
    {% link_for _('Edit'), named_route='group.edit', id=group.name, named_route=group_type + '.edit' %}
  </li>
{% endblock breadcrumb_content_inner %}

{# Override CKAN: Do not pass any icons to nav bar menu items #}
{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.edit', _('Edit'), id=group_dict.name) }}
  {{ h.build_nav_icon(group_type + '.members', _('Members'), id=group_dict.name) }}
{% endblock content_primary_nav %}
