{% ckan_extends %}

{% block page_primary_action %}
{% endblock page_primary_action %}

{% block pre_primary %}
  <div class="page_primary_action">
    <div class="add-group">
      {% if h.check_access('group_create') %}
        {% link_for _('Add Group'), named_route='group.new', class_='btn btn-primary', icon='plus-square' %}
      {% endif %}
    </div>
  </div>
  {% block page_heading %}
    <div class="search-page-heading">
      <h1>{{ _('Groups') }}</h1>
      <p class="ontario-lead-statement">{% trans %}Browse datasets and resources organized by a specific theme or topic.{% endtrans %}</p>
    </div>
  {% endblock page_heading %}
  {% block groups_search_form %}
    <!-- arguments for DS search bar -->
    {% set input_text = _("Search groups") %}
    {% set sr_submit_text = _("Search") %}
    {% set query = c.q %}
    <!-- arguments for search form -->
    {% set form_id = 'group-search-form' %}
    {% set type = 'group' %}
    {% set searchbar_title = input_text + _(':') %}
    <form id="{{ form_id }}"
          class="search-form"
          method="get"
          data-module="select-switch"
          novalidate>
      {% snippet 'snippets/search_form.html',
        searchbar_title=searchbar_title,
        hidden_searchbar_title=input_text,
        form_id=form_id,
        type=type,
        query=query,
        sorting_selected=c.sort_by_selected,
        count=c.page.item_count,
        placeholder=input_text,
        sr_input_text=input_text,
        sr_submit_text=sr_submit_text,
        show_empty=request.params,
        no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')]
        %}
    </form>
  {% endblock groups_search_form %}
{% endblock pre_primary %}

{% block primary %}
  <div class="col-sm-9 col-xs-12" role="main">
    {% block primary_content %}
      <article class="module">
        {% block primary_content_inner %}
          {% block groups_list %}
            {% if c.page.items or request.params %}
              {% if c.page.items %}
                {% snippet "group/snippets/group_list.html", groups=c.page.items %}
              {% endif %}
            {% else %}
              <p class="empty">
                {{ _('There are currently no groups for this site') }}.
                {% if h.check_access('group_create') %}
                  {% link_for _('How about creating one?'), named_route='group.new' %}.
                {% endif %}
              </p>
            {% endif %}
          {% endblock groups_list %}

          {% block page_pagination %}
            {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
          {% endblock page_pagination %}
        {% endblock primary_content_inner %}
      </article>
    {% endblock primary_content %}
  </div>
{% endblock primary %}

{% block secondary %}
{% endblock secondary %}