{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Collections'), controller='group', action='index', named_route=group_type + '_index' %}</li>
  <li class="active">{% link_for h.get_translated(c.group_dict, "title")|truncate(35), controller='group', action='read', id=c.group_dict.name, named_route=group_type + '_read' %}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
    {% link_for _('Edit'), controller='group', action='edit', id=c.group_dict.name, class_='btn btn-default btn-secondary', icon='wrench', named_route=group_type + '_edit' %}
  {% endif %}
{% endblock %}