{#

Override CKAN's read.html to add some new facets.
To prevent calling super() in all other blocks I'm using ckan_extends and
loading in the snippet directly instead of using super() in the secondary
block. super() will end up calling the facets twice.

#}

{% ckan_extends %}

{% block secondary_content %}
  {% snippet "group/snippets/info.html", group=c.group_dict, show_nums=true %}
  <div class="filters">
    <div>
      {{ h.snippet('snippets/ontario_theme_keywords_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {{ h.snippet('snippets/ontario_theme_jurisdiction_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {{ h.snippet('snippets/ontario_theme_category_facet.html',
                   extras={'id':c.group_dict.id}) }}
    </div>

    <div>
      {# 
        Flag facets to be ignored from standard loop that calls facets.
      #}
      {% set excluded_facets = [
        'organization_jurisdiction',
        'organization_category',
        'keywords_en',
        'keywords_fr'
        ]
      %}

      {% for facet in c.facet_titles %}
        {% if facet not in excluded_facets %}
          {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
        {% endif %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}