{% ckan_extends %}

{% block subtitle %}
  {{ h.get_translated(c.group_dict,"title") }} {{ g.template_title_delimiter }} {{ _('Groups') }}
{% endblock subtitle %}

{% block breadcrumb_content %}
  <li>{% link_for _('Groups'), named_route=group_type+'.index' %}</li>
  <li class="active">{% link_for h.get_translated(c.group_dict,"title")|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock breadcrumb_content %}

{% block content_action %}
  {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
    {% link_for _('Edit'), named_route='group.edit', id=c.group_dict.name, class_='btn btn-default btn-secondary', icon='wrench', named_route=group_type + '.edit' %}
  {% endif %}
{% endblock content_action %}

{# Override CKAN: Do not pass any icons to nav bar menu items #}
{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', _('Datasets'), id=group_dict.name) }}
  {{ h.build_nav_icon(group_type + '.activity', _('Activity Stream'), id=group_dict.name, offset=0) }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name) }}
{% endblock content_primary_nav %}
