{% ckan_extends %}

{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {# Insterting additional header logo for parent site. #}
      <hgroup class="{{ g.header_class }} pull-left">
        <a class="logo" href="https://ontario.ca/"><img src="/ontario-logo.svg" alt="Government of Ontario" /></a>
      </hgroup>
      {# End of customization for header_account block. #}
      {% block header_account_container_content %}
        {{ super() }}
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
  {% else %}
    {# Add alpha styling. #}
    <h1>
      <a href="{{ h.url_for('home') }}" class="dss-phase-label alpha">{{ g.site_title }} <sup>alpha</sup></a>
    </h1>
    {# End customization. #}
    {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
  {% endif %}
{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('search', _('Datasets')),
    ('organizations_index', _('Organizations')),
    ('stats', _('Statistics')),
    ('about', _('About'))
  ) }}
{% endblock %}

{% block header_site_search %}
  <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
    <div class="field">
      <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
      <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search') }}" />
      <button class="btn-search" type="submit"><i class="fa fa-search"></i><span>Submit Search</span></button>
    </div>
  </form>
{% endblock %}