{% extends "package/resource_edit_base.html" %}

{% import 'macros/form.html' as form %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock subtitle %}

{% block primary_content_inner %}

  {% set action = h.url_for('datastore.dictionary', id=pkg.name, resource_id=res.id) %}

  <form method="post" action="{{ action }}" >
    {% block dictionary_form %}
      {% for field in fields %}
          {% snippet "datastore/snippets/dictionary_form.html", 
            field=field, 
            position=loop.index 
          %}
      {% endfor %}
    {% endblock dictionary_form %}
    <button class="ontario-button ontario-button--primary" name="save" type="submit">
      {{ _('Run validator to continue') }}
    </button>
  </form>
  {% if res.validation_status and res.validation_status == 'failure' %}
    {% set validation_report = h.ontario_theme_get_validation_report(res.id) %}
    {% snippet 'validation/snippets/validation_report_dialog.html', validation_report=validation_report %}
    <div><a class="ontario-button ontario-button--secondary" href="#validation-report" data-module="modal-dialog" data-module-div="validation-report-dialog"> Show validation results modal </a></div>
  {% endif %}
{% endblock primary_content_inner %}
