{% extends "package/resource_edit_base.html" %}

{% import 'macros/form.html' as form %}

{% block subtitle %}
  {{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}
{% endblock subtitle %}

{% block pre_primary %}
  {% set back_url = h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) %}
  {% snippet "package/snippets/step_indicator.html", step=3, back_url=back_url %}
{% endblock pre_primary %}

{% block page_header %}
{% endblock page_header %}

{% block form_title %}
  {{ _('Add data dictionary') }}
{% endblock form_title %}

{% block primary_content_inner %}
  {% set action = h.url_for('datastore.dictionary', id=pkg.name, resource_id=res.id) if fields else h.url_for('ontario_theme.new_resource_publish', id=pkg.name, resource_id=res.id) %}
  {% if res.validation_status and res.validation_status == 'failure' %}
    <div class="ontario-alert ontario-alert--error">
      <div class="ontario-alert__header">
        <div class="ontario-alert__header-icon">
          <svg class="ontario-icon"
               alt=""
               aria-hidden="true"
               focusable="false"
               sol:category="primary"
               viewBox="0 0 24 24"
               preserveAspectRatio="xMidYMid meet">
            <use href="#ontario-icon-alert-error"></use>
          </svg>
        </div>
        <h2 class="ontario-alert__header-title ontario-h4">There is a problem</h2>
      </div>
      <div class="ontario-alert__body">
        <p>
          Data dictionary didn’t match the uploaded resource file.
          <a href="#validation-report"
             data-module="modal-dialog"
             data-module-div="validation-report-dialog">Show validation report modal</a>
        </p>
        <p>You can either:</p>
        <ul>
          <li>Edit the data dictionary information on this page or</li>
          <li>Upload a corrected data resource file on Step 2</li>
        </ul>
      </div>
    </div>
    {% set validation_report = h.ontario_theme_get_validation_report(res.id) %}
    {% snippet 'validation/snippets/validation_report_dialog.html', validation_report=validation_report %}
  {% endif %}
  {% if fields and res.url_type %}
    <form method="post" action="{{ action }}">
      {{ h.csrf_input() }}
      {% block dictionary_form %}
        {% for field in fields %}
          {% snippet "datastore/snippets/dictionary_form.html", field=field, position=loop.index %}
        {% endfor %}
      {% endblock dictionary_form %}
      <button class="ontario-button ontario-button--primary" name="save" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  {% else %}
    <form action="{{ action }}">
      {% if not fields %}
        {% set message = "<p>This resource does not need a data dictionary.</p>
          <p>Data dictionaries give users the information they need to understand the data they are looking at. The data dictionary is displayed alongside the data for easy reference. Data dictionaries are only used for CSV files.</p>" %}
      {% else %}
        {% set message = "<p>Data dictionaries cannot be defined for remote CSV files.</p>" %}
      {% endif %}
      {{ message|safe }}
      <button class="ontario-button ontario-button--primary" name="save" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  {% endif %}
{% endblock primary_content_inner %}
