{#

Customizes fluent's template to set proper search key based on language (e.g.
tags=tags changes to keywords_en=tag).
FYI - Fluent's template is an override of schemings already.

#}
{# Directly fetch keyword of the current language. 
  h.scheming_language_text() will fetch keywords of the other language if
  current language keywords are blank.
#}
{%- set value = data[field.field_name].get(h.lang(), []) -%}
<section class="tags">
  {% block tag_list %}
    <ul class="tag-list">
      {% for tag in value %}
        {% if h.lang() == 'en' %}
          <li>
            <a class="tag" href="{%- url_for 'dataset.search', keywords_en=tag -%}">{{ tag|truncate(22) }}</a>
            <span class="ontario-hide">{{ tag }}</span>
          </li>
        {% else %}
          <li>
            <a class="tag" href="{%- url_for 'dataset.search', keywords_fr=tag -%}">{{ tag|truncate(22) }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endblock tag_list %}
</section>
