{#

Renders the general organization description/definition.

#}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        <p>
          Click on a ministry to access the ministry page which has a list of their data and records, their recent activity on Colby and information about the ministry.
        </p>
        <h3>
          Questions
        </h3>
        <p>
          For questions about ministry data and records, contact the ministry’s <a href="https://intra.sdc.gov.on.ca/sites/cac-oak/collab/opengovteam/OGLeads/Lists/Staff%20Leads/Staff%20Leads.aspx">open government lead</a>.
        </p>
        <h3>
          Managing Ministry Data
        </h3>
        <p>
          Ministries can only manage their own data and records. If you’re having trouble with your account or permissions, contact your ministry's <a href="https://intra.sdc.gov.on.ca/sites/cac-oak/collab/opengovteam/OGLeads/Lists/Staff%20Leads/Staff%20Leads.aspx">open government lead</a>.
        </p>
        <!--h3>
          Keeping up-to-date
        </h3>
        <p>
          Use RSS feeds to keep up-to-date with ministry activities on Colby by [instructions].
        </p-->
      {% endtrans %}
    </p>
  </div>
</div>